<div class="hidden hx-request:block absolute left-0 top-0 w-full h-full bg-white dark:bg-neutral-900 z-50 rounded-lg p-4" {{ attrs }}>
  <div class="flex w-full flex-col gap-2">
    <div class="h-3.5 w-3/4 animate-pulse rounded-md bg-neutral-200 dark:bg-neutral-800" aria-hidden="true"></div>
    <div class="h-3.5 w-full animate-pulse rounded-md bg-neutral-200 dark:bg-neutral-800" aria-hidden="true"></div>
    <div class="h-3.5 w-full animate-pulse rounded-md bg-neutral-200 dark:bg-neutral-800" aria-hidden="true"></div>
    <div class="h-3.5 w-full animate-pulse rounded-md bg-neutral-200 dark:bg-neutral-800" aria-hidden="true"></div>
    <div class="h-3.5 w-full animate-pulse rounded-md bg-neutral-200 dark:bg-neutral-800" aria-hidden="true"></div>
    <div class="h-3.5 w-1/2 animate-pulse rounded-md bg-neutral-200 dark:bg-neutral-800" aria-hidden="true"></div>
  </div>
</div>