<c-vars 
base="cursor-pointer sm:w-auto rounded-md ~text-xs/sm ~px-2/3 ~py-1/1.5 capitalize duration-150 tracking-tight focus:ring-2 outline-none flex items-center justify-center gap-1 hover:opacity-85 disabled:opacity-50 disabled:cursor-no-drop"
primary="text-white bg-blue-500 dark:bg-blue-600 focus:ring-blue-400"
secondary="focus:ring-neutral-200 hover:bg-neutral-200 hover:dark:bg-neutral-800 dark:text-white text-black"
danger="text-white bg-[red] focus:ring-red-400"
/>

{% if datatype == 'href' %}

    <a {{ attrs }}
    class="{{ base }} {% include 'components/btns/includes/logic.html' %}" >
        {{ slot }}
    </a>

{% elif datatype == 'input' %}

    <input {{ attrs }}
    type="button"
    class="{{ base }} {% include 'components/btns/includes/logic.html' %}" >

{% elif datatype == 'button' %}

    <button {{ attrs }} 
    class="{{ base }} {% include 'components/btns/includes/logic.html' %}">
        {{ slot }}
    </button>

{% else %}

    <span {{ attrs }} 
    role="button" 
    class="{{ base }} [&[disabled]]:opacity-50 [&[disabled]]:cursor-no-drop {% include 'components/btns/includes/logic.html' %}" >
        {{ slot }}
    </span>
    
{% endif %}