{% load i18n %}

<c-table.outer-container>
  <form hx-get="{{ bulk_path }}" x-data="{ selectedRows: [] }">
    <c-table.actions-wrapper>
      <c-table.sort-by />
      <c-table.bulk-actions>
        {% if user.is_superuser %}
        <c-table.bulk-action
          name="bulk_reslugify"
          value="{% translate 'reslugify' %}"
        />
        {% endif %}
      </c-table.bulk-actions>
    </c-table.actions-wrapper>

    <c-table.container>
      <c-table.table>
        <c-table.thead>
          <c-table.th>
            {% if can_delete %}
            <c-table.check data_check="all" />
            {% endif %}
          </c-table.th>
          <c-table.th name="{% translate 'code' %}" />
          <c-table.th name="{% translate 'name' %}" />
          <c-table.th name="{% translate 'type' %}" />
          <c-table.th name="{% translate 'level' %}" />
          <c-table.th name="{% translate 'cost center' %}" />
          <c-table.th name="{% translate 'parent' %}" />
          <c-table.th />
        </c-table.thead>
        <c-table.tbody>
          {% for obj in qs %}
          <c-table.tr>
            <c-table.check />

            {% if can_update %}
            <c-table.td
              data-header="{% translate 'code' %}"
              href="{{ obj.get_update_path }}"
            >
              {{ obj.department_id }}
            </c-table.td>
            {% else %}
            <c-table.td data-header="{% translate 'code' %}"
              >{{ obj.department_id }}</c-table.td
            >
            {% endif %} {% if can_update %}
            <c-table.td
              href="{{ obj.get_update_path }}"
              data-header="{% translate 'name' %}"
              x-data="{ 
              name: '{{ obj.name }}',
              level: {{ obj.level }},
              isPrimary: '{{ obj.is_leaf_node }}' === 'True',
            }"
            >
              <span
                :class="'px-' + level * 3"
                x-html="isPrimary ? name : `${name} <span class='text-[red]'>*</span>`"
                class="whitespace-nowrap"
              ></span>
            </c-table.td>
            {% else %}
            <c-table.td data-header="{% translate 'name' %}">
              <span
                :class="'px-' + level * 3"
                x-html="isPrimary ? name : `${name} <span class='text-[red]'>*</span>`"
                class="whitespace-nowrap"
              ></span>
            </c-table.td>
            {% endif %}

            <c-table.td data-header="{% translate 'type' %}">
              {% if obj.is_leaf_node %}
              <span class="capitalize"> {% translate 'partial' %} </span>
              {% else %}
              <span class="capitalize"> {% translate 'primary' %} </span>
              {% endif %}
            </c-table.td>

            <c-table.td data-header="{% translate 'level' %}"
              >{{ obj.level }}</c-table.td
            >

            {% if perms.cost_centers.update_costcenter %}
            <c-table.td
              data-header="{% translate 'cost center' %}"
              href="{{ obj.cost_center.get_update_path }}"
            >
              <span class="whitespace-nowrap">
                {{ obj.cost_center.name }}
              </span>
            </c-table.td>
            {% else %}
            <c-table.td data-header="{% translate 'cost center' %}">
              <span class="whitespace-nowrap">
                {{ obj.cost_center.name }}
              </span>
            </c-table.td>
            {% endif %}

            <c-table.td data-header="{% translate 'parent' %}">
              {% if obj.parent %}
              <span class="whitespace-nowrap">{{ obj.parent }}</span>
              {% endif %}
            </c-table.td>

            <c-table.td fixed>
<c-base.context />
            </c-table.td>
          </c-table.tr>
          {% empty %}
          <c-table.tr empty colspan="3" />
          {% endfor %}
        </c-table.tbody>
      </c-table.table>
    </c-table.container>
  </form>
  <c-base.pagination />
</c-table.outer-container>
