{% load i18n %}

{% with 'faculty-filter-form' as filter_form %}
{% with '#faculties-table' as target %}

{% with perms.faculties.add_faculty as can_create %}
{% with perms.faculties.delete_faculty as can_delete %}
{% with perms.faculties.change_faculty as can_update %}
{% with perms.faculties.can_export as can_export %}

{% url 'faculties:index' as index_path %}
{% url 'faculties:bulk' as bulk_path %}
{% url 'faculties:create' as create_path %}
{% url 'faculties:export' as export_path %}

<c-layout.app-container id="faculties-table" app_title="{% translate 'faculties' %}">

  <c-slot name="filters">
    {% include 'apps/faculties/partials/table/filters.html' %}
  </c-slot>

  <c-slot name="body">
    {% include 'apps/faculties/partials/table/table.html' %}
  </c-slot>

  <c-slot name="pagination">
    {% include 'apps/faculties/partials/table/pagination.html' %}
  </c-slot>

</c-layout.app-container>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}