<td colspan="5">
    <c-btns.btn
    datatype="button" 
    @click.prevent="
    let newRow = document
                .querySelector('tr[data-hidden-field]')
                .cloneNode(true);

    newRow.removeAttribute('data-hidden-field')
    newRow.classList.remove('hidden');

    let rowsCount = document.getElementById('id_details-TOTAL_FORMS');
    let index = +rowsCount.value;
    rowsCount.value = +rowsCount.value + 1;

    newRow.innerHTML = newRow.innerHTML.replace(/__prefix__/g, index);
    newRow.setAttribute('id', `row-${index + 1}`)

    totals.push({id: `row-${index + 1}`, subtotal: 0})

    let tableBody = document.getElementById('table-body');
    tableBody.appendChild(newRow);
    "
    >+</c-btns.btn>
</td>