{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'change password'|title %}{% endblock %}

{% block body %}

    <template 
    x-init="breadCrumbs.push(
        {
            text: '{% translate 'change password' %}', 
            href: '{% url 'password_change' %}'
        },
    )"
    ></template>
    
    <form method="POST">

        <c-forms.form title="{% translate 'change password' %}">

            <c-slot name="btns">

                <c-btns.btn datatype="button" type="submit">
                    {% translate 'change' %}
                </c-btns.btn>

            </c-slot>

        </c-forms.form>

        {% csrf_token %}
    </form>

{% endblock %}