{% load i18n %}

<form
hx-post="{{ instance.get_create_path }}"
hx-target="this"
hx-swap="outerHTML"
data-hit-messages
>

    <div>

        <c-forms.form title="{% translate 'add new' %}">

            <c-slot name="btns">

                <c-btns.btn 
                datatype="input"
                type="submit" 
                title="{% translate 'save'|title %}"
                name="save" 
                value="{% translate 'save' %}"></c-btns.btn>

                <c-btns.btn 
                datatype="input"
                type="submit" 
                data-hit-messages
                title="{% translate 'save and add another'|title %}"
                value="{% translate 'save and add another' %}" 
                name="save_and_add_another"></c-btns.btn>

                <c-btns.btn
                datatheme="secondary"
                hx-delete="{{ instance.get_create_path }}"
                hx-target="closest form"
                hx-swap="outerHTML"
                hx-indicator="#reset-loading"
                title="{% translate 'reset'|title %}">
                    <div id="reset-loading" class="animate-spin hidden">
                        <c-icons.reset ratio="1rem"></c-icons.reset>
                    </div>
                    <span>{% translate 'reset' %}</span>
                </c-btns.btn>

            </c-slot>

        </c-forms.form>

    </div> 

    <script type="module">
        import { addHitMessagesEventListeners } from '../../static/js/main.js';
        addHitMessagesEventListeners();
    </script>

</form>


