{% load i18n %}
{% get_current_language as LANGUAGE_CODE %} 

{% with perms.employees.view_employee as can_employee %}

{% with perms.areas.view_area as can_area %}
{% with perms.cities.view_city as can_city %}
{% with perms.statuses.view_status as can_status %}
{% with perms.job_types.view_jobtype as can_job_type %}
{% with perms.positions.view_position as can_position %}
{% with perms.departments.view_department as can_department %}
{% with perms.job_subtypes.view_jobsubtype as can_job_subtype %}
{% with perms.cost_centers.view_costcenter as can_cost_center %}
{% with perms.nationalities.view_nationality as can_nationality %}

{% with perms.specializations.view_specialization as can_specialization %}
{% with perms.educational_degrees.view_educationaldegree as can_educational_degree %}
{% with perms.school_types.view_schooltype as can_school_types %}
{% with perms.schools.view_school as can_schools %}

{% with perms.currencies.view_currency as can_currencies %}
{% with perms.exchange_rate.view_exchangerate as can_exchange_rates %}

<div x-data="{
  menuBarOpen: false, 
  menuBarMenu: ''
}" 
@click.away="menuBarOpen=false" 
class="relative top-0 start-0 z-[400] w-fit transition-all duration-150 ease-out"
>
<div class="relative top-0 start-0 z-[400] w-auto h-10 transition duration-200 ease-out">
  <div class="w-full h-full p-1 rounded-md border border-neutral-200 dark:border-neutral-800">
      <div class="flex justify-between w-full h-full select-none">
              
          <div class="relative h-full cursor-default">
              <c-menubar.main-button item="salariez">
                  {% translate 'salariez' %}
              </c-menubar.main-button>
              <c-menubar.main-menu item="salariez">
                <c-menubar.button>
                  <a class="block w-full text-start" href="{% url 'base:index' %}">
                    {% translate 'home' %}
                  </a>
                </c-menubar.button>
                <c-menubar.divider />

                {% if user.is_superuser %}
                <c-menubar.submenu-container>

                  <c-menubar.submenu-button>
                    <span>{% translate 'admin' %}</span>
                  </c-menubar.submenu-button>

                  <c-menubar.submenu>

                    <c-menubar.sublink hx-boost="false" href="/admin/">
                      {% translate 'admin site' %}
                    </c-menubar.sublink>

                    {% if debug %}
                    <c-menubar.sublink hx-boost="false" href="/silk/">
                      silk
                    </c-menubar.sublink>
                    {% endif %}

                  </c-menubar.submenu>

                </c-menubar.submenu-container>
                {% endif %}

                {% if can_specialization or can_educational_degree or can_school_types or can_schools %}
                <c-menubar.submenu-container>

                  <c-menubar.submenu-button>
                    <span>{% translate 'education constants' %}</span>
                  </c-menubar.submenu-button>

                  <c-menubar.submenu>

                    {% if can_employee %}
                    <c-menubar.sublink href="{% url 'specializations:index' %}">
                      {% translate 'specializations' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_educational_degree %}
                    <c-menubar.sublink href="{% url 'educational_degrees:index' %}">
                      {% translate 'degrees' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_school_types %}
                    <c-menubar.sublink href="{% url 'school_types:index' %}">
                      {% translate 'school types' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_schools %}
                    <c-menubar.sublink href="{% url 'schools:index' %}">
                      {% translate 'schools' %}
                    </c-menubar.sublink>
                    {% endif %}

                  </c-menubar.submenu>

                </c-menubar.submenu-container>
                {% endif %}

                {% if can_employee %}
                <c-menubar.submenu-container>

                  <c-menubar.submenu-button>
                    <span>{% translate 'employees' %}</span>
                  </c-menubar.submenu-button>

                  <c-menubar.submenu>

                    {% if can_employee %}
                    <c-menubar.sublink href="{% url 'employees:index' %}">
                      {% translate 'employees' %}
                    </c-menubar.sublink>
                    {% endif %}

                  </c-menubar.submenu>

                </c-menubar.submenu-container>
                {% endif %}

                {% if can_currencies or can_exchange_rates %}
                <c-menubar.submenu-container>

                  <c-menubar.submenu-button>
                    <span>{% translate 'currencies' %}</span>
                  </c-menubar.submenu-button>

                  <c-menubar.submenu>

                    {% if can_currencies %}
                    <c-menubar.sublink href="{% url 'currencies:index' %}">
                      {% translate 'currencies' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_exchange_rates %}
                    <c-menubar.sublink href="{% url 'exchange_rates:index' %}">
                      {% translate 'exchange rates' %}
                    </c-menubar.sublink>
                    {% endif %}

                  </c-menubar.submenu>

                </c-menubar.submenu-container>
                {% endif %}

                {% if can_area or can_city or can_status or can_job_type or can_position or can_department or can_job_subtype or can_cost_center or can_nationality %}
                <c-menubar.submenu-container>

                  <c-menubar.submenu-button>
                    <span>{% translate 'constants' %}</span>
                  </c-menubar.submenu-button>

                  <c-menubar.submenu>

                    {% if can_area %}
                    <c-menubar.sublink href="{% url 'areas:index' %}">
                      {% translate 'areas' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_city %}
                    <c-menubar.sublink href="{% url 'cities:index' %}">
                      {% translate 'cities' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_status %}
                    <c-menubar.sublink href="{% url 'statuses:index' %}">
                      {% translate 'statuses' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_job_type %}
                    <c-menubar.sublink href="{% url 'job_types:index' %}">
                      {% translate 'job types' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_job_subtype %}
                    <c-menubar.sublink href="{% url 'job_subtypes:index' %}">
                      {% translate 'job subtypes' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_position %}
                    <c-menubar.sublink href="{% url 'positions:index' %}">
                      {% translate 'positions' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_cost_center %}
                    <c-menubar.sublink href="{% url 'cost_centers:index' %}">
                      {% translate 'cost centers' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_department %}
                    <c-menubar.sublink href="{% url 'departments:index' %}">
                      {% translate 'departments' %}
                    </c-menubar.sublink>
                    {% endif %}

                    {% if can_nationality %}
                    <c-menubar.sublink href="{% url 'nationalities:index' %}">
                      {% translate 'nationalities' %}
                    </c-menubar.sublink>
                    {% endif %}

                  </c-menubar.submenu>

                </c-menubar.submenu-container>
                {% endif %}

                <c-menubar.divider />

                <c-menubar.button>
                  <a class="block w-full text-start" href="{% url 'password_change' %}">
                    {% translate 'change password' %}
                  </a>
                </c-menubar.button>

                <c-menubar.button @click="menuBarOpen=false">
                  <form 
                  class="w-full"
                  method="POST"
                  action="{% url 'logout' %}"
                  hx-boost="false"
                  >
                    {% csrf_token %}
                    <input
                    class="block w-full text-start"
                    type="submit" 
                    role="button" 
                    title="{% translate 'logout'|title %}" 
                    value="{% translate 'logout'|title %}">
                  </form>
                </c-menubar.button>
                
              </c-menubar.main-menu>
          </div>
      
          <div class="relative h-full cursor-default">

              <c-menubar.main-button item="settings">
                {% translate 'settings' %}
              </c-menubar.main-button>

              <c-menubar.main-menu item="settings">

                <c-menubar.button 
                class="ltr:pl-8 rtl:pr-8 relative"
                @click="dark = !dark">
                  {% translate 'dark theme' %}
                  <span x-show="dark" class="absolute ltr:left-2 rtl:right-2 top-1/2 -translate-y-1/2">
                    <c-icons.check ratio="1rem" />
                  </span>
                </c-menubar.button>

                <c-menubar.button 
                class="ltr:pl-8 rtl:pr-8 relative"
                @click="mainContainer = !mainContainer">
                  {% translate 'stretch' %}
                  <span x-show="!mainContainer" class="absolute ltr:left-2 rtl:right-2 top-1/2 -translate-y-1/2">
                    <c-icons.check ratio="1rem" />
                  </span>
                </c-menubar.button>

                <c-menubar.divider />

                <c-menubar.button 
                class="ltr:pl-8 rtl:pr-8 relative"
                @click="messagesTimeout = 60_000">
                  {% translate 'message timeout 1m' %}
                  <span x-show="messagesTimeout == 60_000" class="absolute ltr:left-2 rtl:right-2 top-1/2 -translate-y-1/2">
                    <c-icons.check ratio="1rem" />
                  </span>
                </c-menubar.button>

                <c-menubar.button 
                class="ltr:pl-8 rtl:pr-8 relative"
                @click="messagesTimeout = 30_000">
                  {% translate 'message timeout 30s' %}
                  <span x-show="messagesTimeout == 30_000" class="absolute ltr:left-2 rtl:right-2 top-1/2 -translate-y-1/2">
                    <c-icons.check ratio="1rem" />
                  </span>
                </c-menubar.button>

                <c-menubar.button 
                class="ltr:pl-8 rtl:pr-8 relative"
                @click="messagesTimeout = 15_000">
                  {% translate 'message timeout 15s' %}
                  <span x-show="messagesTimeout == 15_000" class="absolute ltr:left-2 rtl:right-2 top-1/2 -translate-y-1/2">
                    <c-icons.check ratio="1rem" />
                  </span>
                </c-menubar.button>

                <c-menubar.button 
                class="ltr:pl-8 rtl:pr-8 relative"
                @click="messagesTimeout = 5_000">
                  {% translate 'message timeout 5s' %}
                  <span x-show="messagesTimeout == 5_000" class="absolute ltr:left-2 rtl:right-2 top-1/2 -translate-y-1/2">
                    <c-icons.check ratio="1rem" />
                  </span>
                </c-menubar.button>

                <c-menubar.divider />

                <c-menubar.button class="ltr:pl-8 rtl:pr-8">
                  <form 
                  action="{% url 'set_language' %}"
                  class="w-full" 
                  method="post">
                    <input 
                    name="next" 
                    type="hidden" 
                    value="{{ redirect_to }}" />
                    <input
                      type="hidden"
                      name="language"
                      value="{% if LANGUAGE_CODE == 'ar' %}en{% else %}ar{% endif %}"
                    />
                    <input 
                    class="block w-full text-start"
                    type="submit" 
                    value="{% if LANGUAGE_CODE == 'ar' %}English{% else %}Arabic{% endif %}">
                  </form>
                </c-menubar.button>

              </c-menubar.main-menu>

          </div>

      </div>     
  </div>
</div>
</div>

{% endwith %}

{% endwith %}
{% endwith %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}