{% load i18n %}
{% load static %}

<div class="relative w-fit mx-auto my-4">
  <a href="{% if obj.profile %}{{ obj.profile.url }}{% else %}{% static 'images/user.png' %}{% endif %}" target="_blank">
    <img
    src="{% if obj.profile %}{{ obj.profile.url }}{% else %}{% static 'images/user.png' %}{% endif %}"
    alt="{% translate 'user profile'|title %}"
    class="rounded-full object-cover size-28 block"
    x-ref="filePreview">
  </a>
  <label
  class="absolute bottom-0 ltr:right-0 rtl:left-0"
  for="{{ id }}">
    <c-btns.btn datatheme="primary">
      <c-icons.plus ratio="1.25rem" />
    </c-btns.btn>
    <input
    @change="
    const file = $el.files;
    if (file) {
        const fileReader = new FileReader();
        fileReader.onload = event => {
            $refs.filePreview.setAttribute(
              'src', event.target.result
            );
        }
        fileReader.readAsDataURL(file[0]);
    }"
    class="hidden"
    type="file"
    accept="image/*"
    name="{{ name }}"
    id="{{ id }}"
    >
  </label>
</div>