{% load i18n %} 
{% load widget_tweaks %}

<div x-data='{ open: $persist(true).as("filters-open") }'>
  <form class="rounded-lg" {{ attrs }}>
    <div
      @click="open = !open"
      title="{% translate 'filters'|title %}"
      class="inline-flex items-center justify-start rounded-lg duration-150 ~text-lg/xl p-2 gap-2 mb-2 cursor-pointer hover:bg-neutral-100 dark:hover:bg-neutral-800"
    >
      <c-icons.filters ratio="1.25rem" />

      <h1 class="tracking-tighter capitalize">
        {% translate 'filters' %}
      </h1>

      <div x-bind:class="!open && '-rotate-180'" class="duration-150">
        <c-icons.arrow-down ratio="1rem" />
      </div>
    </div>

    <div
      class="@container mb-2"
      x-show="open"
      x-collapse.duration.150ms
    >
      <div class="flex items-center flex-wrap ~gap-1/2">

        {% for field in filter %}
        <div 
        hx-preserve="true"
        id="id__{{ field.id_for_label }}">
          {% render_field field|add_class:'input w-full' %}
        </div>
        {% endfor %}

        <div class="ltr:ml-auto rtl:mr-auto my-1 flex items-center ~gap-1/2">
          <c-btns.btn
            datatype="button"
            datatheme="primary"
            id="filter-submit-btn"
            title="{% translate 'filter'|title %}"
            type="submit"
          >
            <c-icons.filter ratio="1rem" />
          </c-btns.btn>
          <c-btns.btn
            datatype="button"
            datatheme="secondary"
            @click="document.getElementById('page-reset-btn').click()"
            value="{% translate 'reset' %}"
            title="{% translate 'reset'|title %}"
            type="reset"
          >
            <c-icons.reset ratio="1rem" />
          </c-btns.btn>
        </div>

      </div>

    </div>
  </form>
</div>
