{% load i18n %} 

<form class="rounded-lg w-full" {{ attrs }}>

  <div class="@container flex flex-col gap-4">

      <h1 class="capitalize text-2xl tracking-tighter">
        <span></span>
        {% translate 'filters' %}
      </h1>

      <div class="overflow-auto scrollbar flex-grow flex-shrink-0">
        {{ slot }}
      </div>

      <div class="flex items-center justify-center my-auto ~gap-1/2">
        <c-btns.btn
          datatype="button"
          datatheme="primary"
          id="filter-submit-btn"
          title="{% translate 'filter'|title %}"
          type="submit"
        >
          <span>{% translate 'apply' %}</span>
        </c-btns.btn>
        <c-btns.btn
          datatype="button"
          datatheme="secondary"
          @click="
          document.getElementById('page-reset-btn').click();
          $el.closest('form').reset();
          "
          value="{% translate 'reset' %}"
          title="{% translate 'reset'|title %}"
          type="reset"
        >
          <span>{% translate 'reset' %}</span>
        </c-btns.btn>
        <span class="lg:hidden">
          <c-btns.btn
            datatheme="secondary"
            @click="showFilters = false"
            value="{% translate 'close' %}"
            title="{% translate 'close'|title %}"
          >
            <span>{% translate 'close' %}</span>
          </c-btns.btn>
        </span>
      </div>

  </div>
</form>
