{% load i18n %} 
{% load widget_tweaks %}

<div x-data='{ open: $persist(true).as("filters-open") }'>
  <form class="rounded-lg" {{ attrs }}>
    <div
      @click="open = !open"
      title="{% translate 'filters'|title %}"
      class="inline-flex items-center justify-start rounded-lg duration-150 ~text-lg/xl p-2 gap-2 my-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-800"
    >
      <c-icons.filters ratio="1.25rem" />

      <h1 class="tracking-tighter capitalize">
        {% translate 'filters' %}
      </h1>

      <div x-bind:class="!open && '-rotate-180'" class="duration-150">
        <c-icons.arrow-down ratio="1rem" />
      </div>
    </div>

    <div
      class="@container space-y-4 p-4 border border-gray-100 dark:border-gray-800 rounded-md"
      x-show="open"
      x-collapse.duration.150ms
    >
      <div class="grid grid-cols-1 @md:grid-cols-2 @lg:grid-cols-3 ~@md/lg:~gap-2/4">
        {% for field in filter %}
        <div 
        hx-preserve="true" 
        id="id__{{ field.id_for_label }}">
          <label 
          class="px-2 capitalize font-semibold" 
          for="{{ field.id_for_label }}">
            <span>{{ field.label }}:</span>
          </label>
          {% render_field field|add_class:'input w-full' %}
        </div>
        {% endfor %}
      </div>

      <div class="flex items-center justify-center gap-2">
        <c-btns.btn
          datatype="button"
          datatheme="primary"
          id="filter-submit-btn"
          title="{% translate 'filter'|title %}"
          type="submit"
        >
          <c-icons.filter ratio="1rem" />
          <span>{% translate 'filter' %}</span>
        </c-btns.btn>

        <c-btns.btn
          datatype="input"
          datatheme="secondary"
          @click="document.getElementById('page-reset-btn').click()"
          value="{% translate 'reset' %}"
          title="{% translate 'reset'|title %}"
          type="reset"
        />
      </div>
    </div>
  </form>
</div>
