{% load widget_tweaks %}
{% load i18n %}

<div class="p-3 lg:p-6">

    <div class="max-w-lg mx-auto">
        {% if title %}
        <h1 class="text-4xl tracking-tighter font-semibold mb-6 rtl:text-right ltr:text-left first-letter:capitalize">
            {{ title }}
        </h1>
        {% endif %}

        <div>

            <ul>
                {% for error in form.non_field_errors %}
                <li class="bg-red-100 font-semibold p-4 rounded-lg text-red-600">
                    {{ error }}
                </li>
                {% endfor %}
            </ul>

            <div class="~space-y-2/4">

                {% for field in form %}
                <div data-field class="[&:has([required])_>_span]:inline-block">

                    <label class="font-semibold" 
                    for="{{ field.id_for_label }}">
                        <span>{{ field.label }}:</span>
                    </label>

                    <span class="hidden [&:has(~_*[required])]:inline-block text-[red]" title="{% translate 'required'|title %}">*</span>

                    {% if field.help_text %}
                    <div class="mb-2 text-gray-500 first-letter:capitalize">
                        {{ field.help_text }}
                    </div>
                    {% endif %}
                    
                    {% render_field field|add_class:'input w-full' %}

                    {% if field.errors %}
                    <ul data-form-errors class="text-[red] tracking-tight">
                        {% for error in field.errors %}
                            <li
                            class="first-letter:capitalize pl-2 font-semibold my-2">
                                {{ error }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
                {% endfor %}

            </div>

            {% csrf_token %}

        </div>

        <div class="flex items-center max-sm:flex-wrap max-sm:justify-center justify-end gap-x-1 gap-y-2 my-6">
            {{ btns }}
        </div>
    </div>

</div>