{% load widget_tweaks %}

<tr 
id="row-{{ forloop.counter }}" 
x-data="{ subtotal: 0, quantity: 1, price: 0 }">

    {% for field in inline_form.visible_fields  %}

        <td class="p-2">
            {% render_field field|add_class:'rounded-md px-4 py-2 ring-1 ring-gray-200 dark:ring-gray-800 outline-none dark:focus:ring-orange-600 focus:ring-orange-500 dark:bg-inherit duration-75 aria-[invalid]:!ring-[red] placeholder:capitalize disabled:opacity-90 dark:disabled:opacity-50 disabled:text-orange-500 w-full mx-1' %}
        </td>

    {% endfor %}

        <c-forms.partials.x-btn />

</tr>