{% load widget_tweaks %}

<div>
    <ul>
        {% for error in form.non_field_errors %}
        <li class="bg-red-100 font-semibold text-sm p-4 rounded-lg text-red-600">
            {{ error }}
        </li>
        {% endfor %}
    </ul>

    <div class="flex items-center flex-wrap gap-2">
        {% for field in form %}

           <div class="flex items-start gap-1 flex-col max-md:w-full">
                <label class="font-semibold" for="{{ field.id_for_label }}">
                    {{ field.label }}:
                </label>

                {% render_field field|add_class:'rounded-md px-4 py-2 ring-1 ring-gray-200 dark:ring-gray-800 outline-none dark:focus:ring-orange-600 focus:ring-orange-500 dark:bg-inherit duration-75 aria-[invalid]:!ring-[red] placeholder:capitalize disabled:opacity-90 dark:disabled:opacity-50 disabled:text-orange-500 max-md:w-full' %}
           </div>

           {% comment 'help_text' %}
           <div class="mb-4 text-gray-500 text-sm first-letter:capitalize">
                {{ field.help_text }}
           </div>
           {% endcomment %}

           {% if field.errors %}
           <ul class="text-[red] text-sm tracking-tight">
               {% for error in field.errors %}
                   <li
                   class="first-letter:capitalize pl-2 font-semibold my-2">
                       {{ error }}
                   </li>
               {% endfor %}
           </ul>
           {% endif %}

        {% endfor %}
    </div>
</div>