{% load i18n %}
<c-context.context>
  {% if can_delete or can_update or can_log %} 
    {% if can_update %}
    <c-context.btn href="{{ obj.get_update_path }}" datatype="href">
      {% translate 'update' %}
    </c-context.btn>
    {% endif %} 
    {% if can_delete %}
    <c-context.btn
      hx-get="{{ obj.get_delete_path }}"
      hx-vals="js:{page: '{{ page_obj.number }}'}"
      hx-target="#modal"
      @click="modalOpen = true"
    >
      {% translate 'delete' %}
    </c-context.btn>
    {% endif %}
    <c-menubar.divider />
    {% if can_log %}
    <c-context.btn
      hx-get="{{ obj.get_activity_path }}"
      hx-target="#modal"
      @click="modalOpen = true"
    >
      {% translate 'activities' %}
    </c-context.btn>
    {% endif %} 
  {% endif %}
</c-context.context>
