{% load i18n %}

<c-table.pagination url="{{ index_path }}" target="{{ target }}">

  {% if can_export %}
  <c-buttons.icon
    hx-post="{{ export_path }}"
    hx-target="#modal"
    @click="modalOpen = true"
    title="{% translate 'export'|title %}"
    hx-include="[data-include]"
  >
    <c-icons.download />
  </c-buttons.icon>
  {% endif %} 
  
  {% if can_create %}
  <c-buttons.icon
    datatype="href"
    title="{% translate 'add new record'|title %}"
    href="{{ create_path }}"
  >
    <c-icons.plus />
  </c-buttons.icon>
  {% endif %}

</c-table.pagination>
