{% load i18n %}

<form hx-post="{{ instance.get_update_path }}" hx-target="this">
  <div>
    <c-forms.form title="{{ instance }}">
      <c-slot name="btns">
        <c-buttons.button
          datatype="input"
          name="update"
          value="{% translate 'update' %}"
          title="{% translate 'update'|title %}"
          @click="handleConfirmMessage"
          data-confirm="{% translate 'are you sure you want to continue with these changes in' %} {{ instance.name }}{% translate '?' %}"
          data-disabled
          type="submit"
        />

        <c-buttons.button
          variant="secondary"
          hx-delete="{{ instance.get_update_path }}"
          hx-target="closest form"
          hx-indicator="#reset-spinner"
          hx-disabled-elt="*[data-disabled]"
          data-disabled
          title="{% translate 'reset'|title %}"
        >
          <div id="reset-spinner" class="htmx-request:animate-spin">
            <c-icons.reset />
          </div>
          <span>{% translate 'reset' %}</span>
        </c-buttons.button>

        {% if can_delete %}
        <c-buttons.button
          variant="danger"
          datatype="input"
          name="delete"
          value="{% translate 'delete' %}"
          title="{% translate 'delete'|title %}"
          @click="handleConfirmMessage"
          data-confirm="{% translate 'are you sure you want to delete' %} {{ instance.name }}{% translate '?' %}"
          data-disabled
          type="submit"
        />
        {% endif %}
      </c-slot>
    </c-forms.form>
  </div>
</form>