{% load i18n %}

<c-table.outer-container>
  <form hx-get="{{ bulk_path }}" x-data="{ selectedRows: [] }">
    <c-table.actions-wrapper>
      <c-table.sort-by />
      <c-table.bulk-actions>
        {% if can_delete %}
        <c-table.bulk-action
          name="bulk_delete"
          value="{% translate 'delete' %}"
        />
        {% endif %} {% if user.is_superuser %}
        <c-table.bulk-action
          name="bulk_reslugify"
          value="{% translate 'reslugify' %}"
        />
        {% endif %}
      </c-table.bulk-actions>
    </c-table.actions-wrapper>

    <c-table.container>
      <c-table.table>
        <c-table.thead>
          <c-table.th>
            {% if can_delete %}
            <c-table.check data_check="all" />
            {% endif %}
          </c-table.th>
          <c-table.th name="{% translate 'name' %}" />
          <c-table.th name="{% translate 'nationality' %}" />
          <c-table.th name="{% translate 'local' %}" />
          <c-table.th name="{% translate 'type' %}" />
          <c-table.th name="{% translate 'description' %}" />
          <c-table.th />
        </c-table.thead>
        <c-table.tbody>
          {% for obj in qs %}
          <c-table.tr>
            <c-table.check />

            <c-table.td
              @click="setQueryString"
              data-header="{% translate 'name' %}"
            >
              {% if can_update %}
              <a class="hover:underline" href="{{ obj.get_update_path }}">
                {{ obj.name }}
              </a>
              {% else %}
              <span>{{ obj.name }}</span>
              {% endif %}
            </c-table.td>
            <c-table.td data-header="{% translate 'nationality' %}">
              {{ obj.nationality }}
            </c-table.td>
            <c-table.td data-header="{% translate 'local' %}">
              {% if obj.nationality.is_local %}
              <c-layout.badge theme="green">
                {% translate 'local' %}
              </c-layout.badge>
              {% else %}
              <c-layout.badge theme="red">
                {% translate 'foreign' %}
              </c-layout.badge>
              {% endif %}
            </c-table.td>
            <c-table.td data-header="{% translate 'type' %}">
              {{ obj.school_type }}
            </c-table.td>
            <c-table.td data-header="{% translate 'description' %}">
              {{ obj.description }}
            </c-table.td>
            <c-table.td fixed>
<c-base.context />
            </c-table.td>
          </c-table.tr>
          {% empty %}
          <c-table.tr empty colspan="3" />
          {% endfor %}
        </c-table.tbody>
      </c-table.table>
    </c-table.container>
  </form>
  {% include 'partials/pagination/base.html' %}
</c-table.outer-container>
