{% load i18n %}

<div 
@click.outside="modalOpen = false"
@click.outside.debounce.200="handleClickAfterDebouncing"
class=" rounded-lg overflow-hidden bg-white dark:bg-neutral-900 dark:border dark:border-neutral-800">

    <header class="p-4">
        <p class="font-semibold tracking-tight text-xl">
            {{ header }} 
        </p>
    </header>

    <hr class="hidden dark:block dark:border-neutral-800">

    <div 
    class="p-4 dark:border-t dark:border-b dark:border-neutral-800 shadow-inner  max-h-[300px] overflow-auto !scrollbar-track-neutral-200 dark:!scrollbar-track-neutral-900">
        {{ body }}
    </div>

    <hr class="border-neutral-200 dark:border-neutral-800">

    <footer class="p-4 flex items-center">
        <div class="ltr:ml-auto rtl:mr-auto flex items-center gap-1">
            <c-btns.btn 
                autofocus
                datatype="button"
                type="button"
                datatheme="secondary"
                @click="modalOpen = false"
                @click.debounce.200="handleClickAfterDebouncing">
                {% translate 'close' %}
            </c-btns.btn>
            {{ footer }}
        </div>
    </footer>

</div>

<script>
    function handleClickAfterDebouncing() {
        document.getElementById('modal').innerHTML = ''
    }
</script>