{% load i18n %}
{% load static %}

<div class="p-3 lg:p-6">
  <div class="max-w-2xl mx-auto">

    <h1
      class="text-4xl tracking-tighter font-semibold mb-6 rtl:text-right ltr:text-left first-letter:capitalize"
    >
      {% translate 'add new employee' %}
    </h1>

    <div>

      <ul>
        {% for error in form.non_field_errors %}
        <li class="bg-red-100 font-semibold p-4 rounded-lg text-red-600">
            {{ error }}
        </li>
        {% endfor %}
      </ul>

      <div class="~space-y-2/4">

        <div class="relative w-fit mx-auto my-4">
          <img 
          src="{% static 'images/user.png' %}" 
          alt="{% translate 'user profile'|title %}" 
          class="rounded-full object-cover size-32 block"
          x-ref="filePreview">
          <label 
          class="absolute bottom-0 ltr:right-0 rtl:left-0"
          for="file-upload">
            <c-btns.btn datatheme="primary">
              <c-icons.plus ratio="1.25rem" />
            </c-btns.btn>
            <input
            @change="
            const file = $el.files;
            if (file) {
                const fileReader = new FileReader();
                fileReader.onload = event => {
                    $refs.filePreview.setAttribute(
                      'src', event.target.result
                    );
                }
                fileReader.readAsDataURL(file[0]);
            }"
            class="hidden"
            type="file"
            accept=".jpg, .jpeg, .png"
            id="file-upload"
            >
          </label>
        </div>

        <c-forms.divider>
          {% translate 'basic information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-2 ~gap-1/2">
          <c-forms.form-field :field="form.firstname" />
          <c-forms.form-field :field="form.lastname" />
          <c-forms.form-field :field="form.father_name" />
          <c-forms.form-field :field="form.mother_name" />
        </div>

        <c-forms.divider>
          {% translate 'birth information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-2 ~gap-1/2">
          <c-forms.form-field :field="form.birth_place" />
          <c-forms.form-field :field="form.birth_date" />
        </div>

        <c-forms.divider>
          {% translate 'card information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-2 ~gap-1/2">
          <c-forms.form-field :field="form.national_id" />
          <c-forms.form-field :field="form.card_id" />
        </div>

        <c-forms.divider>
          {% translate 'registry information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-3 ~gap-1/2">
          <c-forms.form-field :field="form.civil_registry_office" />
          <c-forms.form-field :field="form.registry_office_name" />
          <c-forms.form-field :field="form.registry_office_id" />
        </div>

        <c-forms.divider>
          {% translate 'visual information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-3 ~gap-1/2">
          <c-forms.form-field :field="form.gender" />
          <c-forms.form-field :field="form.face_color" />
          <c-forms.form-field :field="form.eyes_color" />
        </div>

        <c-forms.divider>
          {% translate 'other information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-3 ~gap-1/2">
          <c-forms.form-field :field="form.address" />
          <c-forms.form-field :field="form.special_signs" />
          <c-forms.form-field :field="form.card_date" />
        </div>

        <c-forms.divider>
          {% translate 'community information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-2 ~gap-1/2">
          <c-forms.form-field :field="form.martial_status" />
          <c-forms.form-field :field="form.military_status" />
        </div>

        <c-forms.divider>
          {% translate 'location information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-2 ~gap-1/2">
          <c-forms.form-field :field="form.nationality" />
          <c-forms.form-field :field="form.area" />
        </div>

        <c-forms.divider>
          {% translate 'job information' %}
        </c-forms.divider>

        <div class="grid grid-cols-1 lg:grid-cols-2 ~gap-1/2">
          <c-forms.form-field :field="form.department" />
          <c-forms.form-field :field="form.position" />
          <c-forms.form-field :field="form.job_subtype" />
          <c-forms.form-field :field="form.job_status" />
          <c-forms.form-field :field="form.status" />
          <c-forms.form-field :field="form.institution_id" />
          <c-forms.form-field :field="form.hire_date" />
          <c-forms.form-field :field="form.salary" />
        </div>

        <div class="grid grid-cols-1 ~gap-1/2">
          <c-forms.form-field :field="form.notes" />
        </div>

      </div>

      {% csrf_token %}

    </div>

    <div
      class="flex items-center max-sm:flex-wrap max-sm:justify-center justify-end gap-x-1 gap-y-2 my-6"
    >
      {{ btns }}
    </div>

  </div>
</div>
