{% load i18n %}

{% with 'employees-filter-form' as filter_form %}
{% with '#employees-table' as target %}

{% with perms.employees.add_employee as can_create %}
{% with perms.employees.delete_employee as can_delete %}
{% with perms.employees.change_employee as can_update %}
{% with perms.employees.can_export as can_export %}
{% with perms.activities.view_activity as can_log %}

{% url 'employees:index' as index_path %}
{% url 'employees:bulk' as bulk_path %}
{% url 'employees:create' as create_path %}
{% url 'employees:export' as export_path %}

<c-layout.app-container id="employees-table" app_title="{% translate 'employees' %}">

  <c-slot name="filters">
    {% include 'partials/filters/base.html' %}
  </c-slot>

  <c-slot name="body">
    <form 
    hx-get="{{ bulk_path }}" 
    hx-include="[data-include]"
    x-data="{ selectedRows: [] }">
    
      <c-table.container>
    
        <input
        data-include
        type="hidden"
        name="order"
        value="{% firstof request.GET.order default_column %}"/>
      
        <c-table.table>
          
          <thead>
    
            <c-table.header-row>

              <c-table.header-cell>
                {% if can_delete %}
                <c-table.check data_check="all" />
                {% endif %}
              </c-table.header-cell>

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="firstname"
              name="{% translate 'firstname' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="lastname"
              name="{% translate 'lastname' %}" />

              <c-table.header-cell />
              
            </c-table.header-row>
    
            {% if can_delete %}
            <c-table.unselect-all colspan="4">
              {% if can_delete %}
                <c-table.action-input
                  name="bulk_delete"
                  value="{% translate 'delete'|title %}"
                  title="{% translate 'delete'|title %}" />
              {% endif %}
            </c-table.unselect-all>
            {% endif %}
    
          </thead>
          <!-- end header -->
      
          <!-- start rows -->
          <c-table.tbody>
            {% for obj in qs %}
            <c-table.tr>
              <td class="p-2"><c-table.check /></td>

              {% if can_update %}
              <c-table.td href="{{ obj.get_update_path }}">
                <div class="flex items-center gap-1">
                  <img class="size-10 object-cover rounded-full block" src="{{ obj.profile.url }}" alt="">
                  <span>
                    {{ obj.fullname }}
                  </span>
                </div>
              </c-table.td>
              {% else %}
              <c-table.td>{{ obj.fullname }}</c-table.td>
              {% endif %}

              <c-table.td>{{ obj.lastname }}</c-table.td>
              <td>{% include 'partials/context/base.html' %}</td>
            </c-table.tr>
            {% empty %}
            <c-table.empty-tr colspan="3" />
            {% endfor %}
          </c-table.tbody>
          <!-- end rows -->
        </c-table.table>
    
      </c-table.container>
    
    </form>
  </c-slot>

  <c-slot name="pagination">
    {% include 'partials/pagination/base.html' %}
  </c-slot>

</c-layout.app-container>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}