{% load i18n %}
{% load static %}
{% load format_numbers %}

{% with 'employees-filter-form' as filter_form %}
{% with '#employees-table' as target %}

{% with perms.employees.add_employee as can_create %}
{% with perms.employees.delete_employee as can_delete %}
{% with perms.employees.change_employee as can_update %}
{% with perms.employees.can_export as can_export %}
{% with perms.activities.view_activity as can_log %}

{% url 'employees:index' as index_path %}
{% url 'employees:bulk' as bulk_path %}
{% url 'employees:create' as create_path %}
{% url 'employees:export' as export_path %}

<c-layout.app-container id="employees-table" app_title="{% translate 'employees' %}">

  <c-slot name="filters">
    {% include 'apps/employees/partials/filters.html' %}
  </c-slot>

  <c-slot name="body">
    <form 
    hx-get="{{ bulk_path }}" 
    hx-include="[data-include]"
    x-data="{ selectedRows: [] }">
    
      <c-table.container>
    
        <input
        data-include
        type="hidden"
        name="order"
        value="{% firstof request.GET.order default_column %}"/>
      
        <c-table.table>
          
          <thead>
    
            <c-table.header-row>

              <c-table.header-cell>
                {% if can_delete %}
                <c-table.check data_check="all" />
                {% endif %}
              </c-table.header-cell>

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="firstname"
              name="{% translate 'fullname' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="job_subtype__job_type"
              name="{% translate 'job type' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="department__cost_center__cost_center_accounting_id"
              name="{% translate 'cost center' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="department__department_id"
              name="{% translate 'department' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="job_age"
              name="{% translate 'job age' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="salary"
              name="{% translate 'salary' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="gender"
              name="{% translate 'gender' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="job_status"
              name="{% translate 'job status' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="status"
              name="{% translate 'status' %}" />

              <c-table.header-cell />
              
            </c-table.header-row>
    
            {% if can_delete %}
            <c-table.unselect-all colspan="4">
              {% if can_delete %}
                <c-table.action-input
                  name="bulk_delete"
                  value="{% translate 'delete'|title %}"
                  title="{% translate 'delete'|title %}" />
              {% endif %}
            </c-table.unselect-all>
            {% endif %}
    
          </thead>
          <!-- end header -->
      
          <!-- start rows -->
          <c-table.tbody>
            {% for obj in qs %}
            <c-table.tr title="{% include 'apps/employees/partials/table/tr-title.html' %}">
              <td class="p-2"><c-table.check /></td>

              {% if can_update %}
              <c-table.td href="{{ obj.get_update_path }}">
                <div class="flex items-center gap-2 whitespace-nowrap">
                  <img 
                  class="size-8 object-cover rounded-full block" 
                  alt=""
                  src="{% if obj.profile %}
                          {{ obj.profile.url }}
                       {% else %}
                          {% static 'images/user.png' %}
                       {% endif %}">
                  <div>
                    <p>
                      {{ obj.fullname }}
                    </p>
                    <p class="text-xs text-neutral-500 tracking-tighter">
                      {{ obj.job_subtype }} - {{ obj.position }}
                    </p>
                  </div>
                </div>
              </c-table.td>
              {% else %}
              <c-table.td>{{ obj.fullname }}</c-table.td>
              {% endif %}

              <c-table.td>{{ obj.job_subtype.job_type }}</c-table.td>

              <c-table.td>{{ obj.department.cost_center }}</c-table.td>

              <c-table.td>{{ obj.department }}</c-table.td>
              
              <c-table.td>{{ obj.hire_date|timesince }}</c-table.td>

              <c-table.td>{{ obj.salary|money }}</c-table.td>

              <c-table.td>
                <c-layout.badge theme="{% if obj.gender == 'F' %}pink{% else %}blue{% endif %}">
                  {{ obj.get_gender_display }}
                </c-layout.badge>
              </c-table.td>

              <c-table.td>
                <c-layout.badge theme="{% if obj.job_status.has_salary %}green{% else %}red{% endif %}">
                  {{ obj.job_status }}
                </c-layout.badge>
              </c-table.td>

              <c-table.td>
                <c-layout.badge theme="{% if obj.status == 'A' %}green{% else %}red{% endif %}">
                  {{ obj.get_status_display }}
                </c-layout.badge>
              </c-table.td>

              <td>{% include 'partials/context/base.html' %}</td>

            </c-table.tr>
            {% empty %}
            <c-table.empty-tr colspan="3" />
            {% endfor %}
          </c-table.tbody>
          <!-- end rows -->
        </c-table.table>
    
      </c-table.container>
    
    </form>
  </c-slot>

  <c-slot name="pagination">
    {% include 'partials/pagination/base.html' %}
  </c-slot>

</c-layout.app-container>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}