{% load i18n %}

<c-modal.container>
  <form hx-post="{{ bulk_path }}" @submit="modalOpen = false">
    <c-modal.modal>
      <c-slot name="header">
        <span class="capitalize">{% translate 'confirm' %}</span>
      </c-slot>

      <c-slot name="body">
        <input type="hidden" name="pks" value="{{ pks }}" />
        {{ modal_content|escape }}
      </c-slot>

      <c-slot name="footer">
        <c-buttons.button
          datatype="input"
          type="submit"
          @click="modalOpen = false"
          name="bulk_delete"
          value="{% translate 'confirm' %}"
        ></c-buttons.button>
      </c-slot>
    </c-modal.modal>
  </form>
</c-modal.container>
