{% load i18n %}

<c-modal.container>
  <form hx-post="{{ delete_path }}" @submit="modalOpen = false">
    <c-modal.modal>

      <c-slot name="header">
        <span class="capitalize">{% translate 'delete' %}</span>
        <span>{{ instance }}</span>
        <span>{% translate '?' %}</span>
      </c-slot>

      <c-slot name="body">
        {% if page %}
        <input type="hidden" name="page" value="{{ page }}" />
        {% endif %}
        <p class="capitalize">{{ message|safe }}</p>
      </c-slot>

      <c-slot name="footer">
        <c-buttons.button
          datatype="button"
          variant="danger"
          type="submit"
          value="{% translate 'delete' %}"
        >
          {% translate 'delete' %}
        </c-buttons.button>
      </c-slot>
      
    </c-modal.modal>
  </form>
</c-modal.container>
