{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %} 
{% with 'w-full capitalize font-semibold block dark:hover:bg-gray-800 hover:bg-gray-100 duration-100 ~px-2/4 ~py-1/2 ltr:text-left rtl:text-right' as theme %}

<c-modal.container>
  <c-modal.modal>

    <c-slot name="header">
      <span class="capitalize">{% translate 'user configurations' %}</span>
    </c-slot>

    <c-slot name="body">
      <div class="divide-y divide-gray-200 dark:divide-gray-800">

        <div class="flex items-center gap-2 ~text-sm/base ~px-2/4 ~py-1/2">
          <label class="capitalize whitespace-nowrap" for="messages-timeout">
              {% translate 'messages timeout' %} 
          </label>
          <select
            class="block mt-1 rounded-md border border-gray-200 bg-white ~px-2/4 ~py-1/2 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-40 dark:border-gray-800 dark:bg-gray-900 dark:focus:border-blue-300 outline-none duration-75 w-full"
            x-model="messagesTimeout"
            id="messages-timeout"
          >
            <option value="5000">{% translate '5 seconds' %}</option>
            <option value="10000">{% translate '10 seconds' %}</option>
            <option value="15000">{% translate '15 seconds' %}</option>
            <option value="30000">{% translate '30 seconds' %}</option>
            <option value="60000">{% translate '1 minute' %}</option>
          </select>
        </div>

        <button datatype="href" class="{{ theme }}" @click="dark = !dark;">
          <span x-show="dark" title="{% translate 'light theme'|title %}">
            {% translate 'light theme' %}
          </span>
          <span x-show="!dark" title="{% translate 'dark theme'|title %}">
            {% translate 'dark theme' %}
          </span>
        </button>

        <form action="{% url 'set_language' %}" method="post">
          <input name="next" type="hidden" value="{{ redirect_to }}" />
          <input
            type="hidden"
            name="language"
            value="{% if LANGUAGE_CODE == 'ar' %}en{% else %}ar{% endif %}"
          />
          <button class="{{ theme }}">
            {% if LANGUAGE_CODE == 'ar' %}English{% else %}Arabic{% endif %}
          </button>
        </form>

        <a class="{{ theme }}" href="{% url 'password_change' %}">
          {% translate 'change password' %}
        </a>
      </div>
    </c-slot>
    
  </c-modal.modal>
</c-modal.container>

{% endwith %}
