{% load i18n %}

<div 
{{ attrs }}
hx-indicator="#spinner"
class="shadow-sm dark:shadow-none rounded-lg overflow-x-auto overflow-y-visible dark:bg-gray-900 bg-white duration-150 scrollbar-thin scrollbar-thumb-blue-500 dark:scrollbar-track-gray-950 scrollbar-track-gray-100/80 space-y-4 p-4"
>
    {% if app_title %}
    <h1 class="text-2xl lg:text-4xl font-thin first-letter:capitalize">
        {{ app_title }}
    </h1>
    {% endif %}
    
    {% if filters %}
    <div>
        {{ filters }}
    </div>
    {% endif %}

    <div id="container" class="relative space-y-4">

        {{ body }}
    
        {% if pagination %}
        <div>
            {{ pagination }}
        </div>
        {% endif %}

    </div>

    {% if footer %}
    <hr class="dark:border-gray-800 border-gray-200">
    <div>
        {{ footer }}
    </div>
    {% endif %}

</div>