{% load i18n %}

<div :class="!asideOpen && 'hidden'" class="fixed w-screen h-screen left-0 top-0 z-[49] lg:hidden" @click="asideOpen = false"></div>

<div
data-aside
x-cloak
x-data="{ search: '', localUrls: urls }"
  :class="asideOpen ? 'ltr:max-lg:left-0 rtl:max-lg:right-0' : 'ltr:max-lg:left-[-350px] rtl:max-lg:right-[-350px]'"
  class="fixed w-[min(100%,300px)] h-[calc(100vh_-_2rem)] shadow-lg rounded-lg m-4 bg-white dark:bg-neutral-900 dark:max-lg:ring-1 dark:max-lg:ring-neutral-800 ltr:ml-2 rtl:mr-2 dark:shadow-none z-[300] duration-150"
>
  <aside class="relative ~p-2/3 h-full">

    <span class="md:hidden flex items-center justify-end">
      <c-btns.icon role="button" @click="asideOpen = false">
        <c-icons.x ratio="1rem"></c-icons.x>
      </c-btns.icon>
    </span>

    <div>
      <a href="{% url 'base:index' %}">
        <h1 class="text-3xl text-center mt-8 md:mt-4 mb-4 font-semibold tracking-tighter first-letter:capitalize">
          {{ project_name }}
        </h1>
      </a>
    </div>

    <div class="mt-8">
      <input 
      type="search"
      id="aside-search"
      x-model="search" 
      @keydown="handleSearch"
      @search="handleSearch"
      placeholder="{% translate 'search ...' %}" 
      class="input w-full">
    </div>

    <script>
      function handleSearch() {

        let app = document.getElementById('app');
        let aside = document.querySelector('[data-aside]');
        let asideSearch = document.getElementById('aside-search');
        
        Alpine.$data(aside).localUrls = Alpine.$data(app).urls.filter(
          url => {
            return (
              url.children.some(e => {
                return (
                  e.text.includes(Alpine.$data(asideSearch).search.toLowerCase()) ||
                  e.url.includes(Alpine.$data(asideSearch).search.toLowerCase())
                )
              })
            )
          }
        );
      }
    </script>

    <ul class="mt-4 max-h-96 overflow-y-auto overflow-x-hidden">

      <template x-for="url in localUrls" :key="url.text" x-transition>

        <li x-data="{
          open: $persist(false).as('open-aside-' + url.text )
        }">

          <div 
          class="flex items-center justify-between cursor-pointer p-2 hover:bg-neutral-100 dark:hover:bg-neutral-800 outline-none focus:ring-2 [&:has(_~_ul_li[aria-label='true'])]:font-bold [&:has(_~_ul_li[aria-label='true'])]:text-blue-500" 
          @click="open = !open">
            <span x-text="url.text" class="capitalize"></span>
            <div class="duration-150" :class="open && 'rotate-180'">
              <c-icons.arrow-down ratio="1rem" />
            </div>
          </div>

          <ul class="divide-y divide-neutral-200 dark:divide-neutral-800" x-show="open" x-collapse>
              <template x-for="suburl in url.children" :key="suburl.text">
                  <li :aria-label="suburl.isActive && 'true'">
                    <a 
                      :href="suburl.url"
                      :class="suburl.isActive && 'text-blue-500 font-semibold'"
                      class="flex items-center gap-2 py-2 ltr:pl-8 rtl:pr-8 duration-150 hover:bg-neutral-100 outline-none focus:ring-2 focus:ring-blue-500 dark:hover:bg-neutral-800">
                        <c-icons.star ratio=".625rem" />
                        <span x-text="suburl.text" class="capitalize"></span>
                    </a>
                  </li>
              </template>
          </ul>

        </li>

      </template>

    </ul>

  </aside>
</div>
