{% load i18n %}

<nav x-cloak class="flex justify-center items-center rounded-md">
  <ol class="inline-flex flex-wrap items-center space-x-1 ~text-xs/sm text-neutral-500 dark:text-neutral-400 [&_.active-breadcrumb]:font-semibold [&_.active-breadcrumb]:text-neutral-600 [&_.active-breadcrumb]:dark:text-neutral-400 [&_.active-breadcrumb]:tracking-tighter">
    {% for breadcrumb in breadcrumbs %}
      <li class="flex items-center">
        <a
          class="inline-flex items-center font-normal hover:text-neutral-900 hover:dark:text-neutral-300 focus:outline-none capitalize duration-100 whitespace-nowrap {% if breadcrumb.active %}active-breadcrumb{% endif %}"
          href="{{ breadcrumb.href }}"
        >
          {{ breadcrumb.text }}
        </a>
          {% if not forloop.last %}
          <c-icons.arrow-right />
          {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
