{% load i18n %}

<nav x-cloak class="flex justify-center items-center rounded-md" x-show="breadCrumbs.length >= 2">
  <ol class="inline-flex flex-wrap items-center space-x-1 ~text-xs/sm text-neutral-500 dark:text-neutral-400 [&_.active-breadcrumb]:font-semibold [&_.active-breadcrumb]:text-neutral-600 [&_.active-breadcrumb]:dark:text-neutral-400 [&_.active-breadcrumb]:tracking-tighter">
    <template x-for="(breadCrumb, idx) in breadCrumbs" :key="breadCrumb.text">
      <li class="flex items-center">
        <a
          class="inline-flex items-center font-normal hover:text-neutral-900 hover:dark:text-neutral-300 focus:outline-none capitalize duration-100 whitespace-nowrap"
          :class="(idx === breadCrumbs.length - 1) && 'active-breadcrumb'"
          :href="breadCrumb.href"
          x-text="breadCrumb.text"
        >
        </a>

        <template x-if="idx !== breadCrumbs.length - 1">
          <span class="rtl:rotate-180">
            <svg
            class="h-5 w-5 text-gray-400/70"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            >
              <g fill="none" stroke="none">
                <path
                  d="M10 8.013l4 4-4 4"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </span>
        </template>
      </li>
    </template>
  </ol>
</nav>
