{% load i18n %}
<header
  x-data="{ atTop: false }"
  class="sticky left-0 top-2 z-[201] mx-auto rounded-lg p-2 duration-150 bg-white dark:bg-neutral-900 md:mx-auto border border-neutral-200 dark:border-none"
  :class="{ 
  'ring-1 dark:ring-neutral-800 ring-neutral-200': atTop, 
  'container': mainContainer,
  }"
  @scroll.window="atTop = (window.pageYOffset < 10) ? false: true"
>
  <nav class="flex items-center justify-between">

    <c-menubar.menubar />

    <div class="hidden lg:block ltr:ml-auto ltr:mr-2 rtl:mr-auto rtl:ml-2">
      <c-layout.breadcrumb />
    </div>

    <div class="ltr:ml-auto rtl:mr-auto">
      <c-inputs.search
      path="{% url 'employees:search' %}"
      name="employee"
      container_id="main-employee-search"
      placeholder="{% translate 'Alt + =' %}"/>
    </div>

  </nav>

  {{ slot }}
</header>
