{% load i18n %}
<!-- ring-1 dark:ring-neutral-800 -->
<header
  x-data="{ atTop: false }"
  class="sticky left-0 top-2 z-[201] mx-auto rounded-lg  p-2 duration-150 dark:bg-neutral-900 md:mx-auto border border-neutral-200 dark:border-none"
  :class="{ 
  'bg-opacity-50 backdrop-blur-sm ring-1 dark:ring-neutral-800 ring-neutral-200': atTop, 
  'container': mainContainer,
  }"
  @scroll.window="atTop = (window.pageYOffset < 10) ? false: true"
>
  <nav class="flex items-center justify-between">
    <ul class="flex items-center justify-between gap-2">
      <span :class="{ 'lg:hidden': asideFixed }">
        <li>
          <c-btns.icon
            role="button"
            @click="asideOpen = true"
            title="{% translate 'menu'|title %}"
          >
            <c-icons.bars ratio="1.25rem" />
          </c-btns.icon>
        </li>
      </span>

      <li>
        <c-btns.icon
          datatype="href"
          href="{{ request.META.HTTP_REFERER }}"
          role="button"
          title="{% translate 'back'|title %}"
        >
          <c-icons.arrow-back ratio="1.25rem" />
        </c-btns.icon>
      </li>

      <li>
        <span
          id="messages-spinner"
          class="hidden animate-spin hx-request:block"
        >
          <c-btns.icon>
            <c-icons.reset ratio="1.25rem" />
          </c-btns.icon>
        </span>
      </li>
    </ul>

    <div class="hidden lg:block">
      <c-layout.breadcrumb />
    </div>

    <c-context.user />
  </nav>

  {{ slot }}
</header>
