{% load i18n %}

<header
  class="sticky top-4 left-0 md:mx-auto ~p-2/4 shadow-md rounded-lg dark:bg-gray-900 dark:ring-1 dark:ring-gray-800 bg-white z-40 mx-auto"
>
  <nav class="flex items-center justify-between">

    <ul class="flex items-center justify-between gap-2">

      <li>
        <span class="lg:hidden">
          <c-btns.icon 
          role="button" 
          @click="asideOpen = true" 
          title="{% translate 'menu'|title %}">
            <c-icons.bars ratio="1.25rem" />
          </c-btns.icon>
        </span>
      </li>

      <li>
          <c-btns.icon 
          datatype="href"
          href="{{ request.META.HTTP_REFERER }}"
          role="button" 
          title="{% translate 'back'|title %}">
            <c-icons.arrow-back ratio="1.25rem" />
          </c-btns.icon>
      </li>

      <li>
        <span id="messages-spinner" class="hidden hx-request:block animate-spin">
          <c-btns.icon>
            <c-icons.reset ratio="1.25rem" />
          </c-btns.icon>
        </span>
      </li>

    </ul>

    <div class="hidden lg:block">
      <c-layout.breadcrumb></c-layout.breadcrumb>
    </div>

    <c-context.user></c-context.user>
  </nav>

  {{ slot }}
</header>
