{% if messages %}
<ul id="messages" class="rounded-md duration-150 space-y-2 mb-4">
  {% for message in messages %}
  <li
    class="{% if message.tags %} {{ message.tags }} {% endif %} text-white px-6 py-3 bg-opacity-50 font-semibold my-2 text-center capitalize rounded-lg"
    x-data="{open: true}"
    x-show="open"
    x-collapse.duration.150
  >
    <div class="flex items-center justify-between">
      <span>{{ message }}</span>
      <c-btns.icon @click="open = false">
        <c-icons.x ratio="1rem" />
      </c-btns.icon>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
