{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'add new school type'|title %}{% endblock %}

{% block body %}

    <template 
    x-init="let hrefs = [
        {
            text: '{% translate 'school types' %}', 
            href: '{% url 'school_types:index' %}'
        },
        {
            text: '{% translate 'add new' %}', 
            href: '{% url 'school_types:create' %}'
        },
    ];
    breadCrumbs = [...breadCrumbs, ...hrefs]"
    ></template>

    <c-base.create-form/>

{% endblock %}