{% load mptt_tags %} 
{% load i18n %}
{% load math_filters %}

<c-body-container>
  <c-main-ul>
    {% recursetree qs %}
    <c-child-li>

      <div class="relative grid grid-cols-[1fr_2rem] items-center">

        {% if not node.is_leaf_node %}
        <div class="absolute ltr:left-2 rtl:right-2 top-1/2 -translate-y-1/2">
          <c-btns.icon @click="parentOpen = !parentOpen">
            <span :class="parentOpen && 'hidden'">
              <c-icons.plus-square ratio="1.25rem" />
            </span>
            <span :class="!parentOpen && 'hidden'">
              <c-icons.minus-square ratio="1.25rem" />
            </span>
          </c-btns.icon>
        </div>
        {% endif %}

        <c-node-p />

        {% if can_update or can_delete or can_log %}
        <div>
            <c-context.context
              class="ltr:right-[calc(100%+4px)] rtl:left-[calc(100%+4px)] bottom-2 min-w-[100px]">

              {% if can_log %}
                <c-context.btn
                    hx-get="{{ node.get_activity_path }}"
                    hx-target="#modal"
                    @click="modalOpen = true">
                    {% translate 'activities' %}
                </c-context.btn>
              {% endif %}

              {% if node.is_leaf_node and can_delete %}
              <c-context.btn
                hx-get="{{ node.get_delete_path }}"
                hx-target="#modal"
                @click="modalOpen = true">
                  {% translate 'delete' %}
              </c-context.btn>
              {% endif %}

              {% if can_update %}
              <c-context.btn href="{{ node.get_update_path }}" datatype="href">
                {% translate 'update' %}
              </c-context.btn>
              {% endif %}

            </c-context.context>
        </div>
        {% endif %}

      </div>

      <c-child-ul />
      
    </c-child-li>
    {% endrecursetree %}
  </c-main-ul>
</c-body-container>