{% load mptt_tags %} 
{% load i18n %}
{% load math_filters %}

<div class="bg-white dark:bg-gray-900 border border-gray-100 dark:border-gray-800 py-8 rounded-md overflow-x-auto">
  <ul class="divide-y divide-gray-100 dark:divide-gray-800">

    {% recursetree qs %}

    <li
      class="text-gray-800 dark:text-inherit [&:not(:has(li))_>_div]:!font-normal ltr:pl-{{ node.get_level|multiply:'2' }} rtl:pr-{{ node.get_level|multiply:'2' }} [&:not(:has(li))_>_div]:!text-inherit [&:has(li:hover)_>_div]:bg-gray-100 [&:has(li:hover)_>_div]:dark:bg-gray-950"
      x-data="{parentOpen: false}"
    >
      <div class="relative grid grid-cols-[1fr_2rem] items-center">

        {% if not node.is_leaf_node %}
        <div class="absolute ltr:left-2 rtl:right-2 top-1/2 -translate-y-1/2">
          <c-btns.icon @click="parentOpen = !parentOpen">
            <span :class="parentOpen && 'hidden'">
              <c-icons.plus-square ratio="1.25rem" />
            </span>
            <span :class="!parentOpen && 'hidden'">
              <c-icons.minus-square ratio="1.25rem" />
            </span>
          </c-btns.icon>
        </div>
        {% endif %}

        {% if not node.is_leaf_node %}
        <p 
        @click="parentOpen = !parentOpen"
        title="{{ node.description }}"
        :class="parentOpen && 'font-semibold text-blue-500'"
        class="py-2 ltr:pl-10 rtl:pr-10 whitespace-nowrap cursor-pointer overflow-clip">
          {{ node.department_id }} - {{ node.name }}
        </p>
        {% else %}
        <p 
        title="{{ node.description }}"
        :class="parentOpen && 'font-semibold text-blue-500'"
        class="py-2 ltr:pl-10 rtl:pr-10 whitespace-nowrap">
          {{ node.department_id }} - {{ node.name }}
        </p>
        {% endif %}

        {% if can_update or can_delete %}
        <div>
            <c-context.context
              class="ltr:right-[calc(100%+4px)] rtl:left-[calc(100%+4px)] bottom-2 min-w-[100px]">

              {% if node.is_leaf_node and can_delete %}
              <c-context.btn
                hx-get="{{ node.get_delete_path }}"
                hx-target="#modal"
                @click="modalOpen = true">
                  {% translate 'delete' %}
              </c-context.btn>
              {% endif %}

              {% if can_update %}
              <c-context.btn href="{{ node.get_update_path }}" datatype="href">
                {% translate 'update' %}
              </c-context.btn>
              {% endif %}

            </c-context.context>
        </div>
        {% endif %}

      </div>

      {% if not node.is_leaf_node %}
      <ul class="divide-y divide-gray-100 dark:divide-gray-800" x-show="parentOpen" x-collapse>
        {{ children }}
      </ul>
      {% endif %}
    </li>

    {% endrecursetree %}
  </ul>
</div>