{% load i18n %}

<div class="flex items-center justify-center gap-1">

  {% if user.is_superuser and debug %}
  <c-btns.icon
  hx-get="{% url 'departments:empty' %}"
  hx-confirm="{% translate 'are you sure you wanna empty all departments database' %}"
  hx-swap="none"
  title="{% translate 'reset all departments'|title %}"
  >
    <c-icons.trash ratio="1.25rem" />
  </c-btns.icon>
  {% endif %}

  {% if user.is_superuser %}
  <c-btns.icon
  hx-get="{% url 'departments:bulk-create' %}"
  hx-confirm="{% translate 'are you sure you wanna create default departments based on WPU facts' %}"
  hx-swap="none"
  title="{% translate 'create faculties'|title %}"
  >
    <c-icons.database-import ratio="1.25rem" />
  </c-btns.icon>
  {% endif %}

  <c-btns.icon
    title="{% translate 'reset'|title %}"
    hx-get="{% url 'departments:index' %}"
    hx-target="#departments-body"
  >
    <c-icons.reset ratio="1.25rem" />
  </c-btns.icon>

  {% if can_export %}
  <c-btns.icon
    title="{% translate 'export'|title %}"
    @click="modalOpen = true"
    hx-post="{% url 'departments:export' %}"
    hx-target="#modal"
  >
    <c-icons.download ratio="1.5rem" />
  </c-btns.icon>
  {% endif %}

  {% if can_create %}
  <c-btns.icon
    title="{% translate 'add new record'|title %}"
    href="{% url 'departments:create' %}"
    datatype="href"
  >
    <c-icons.plus ratio="1.25rem" />
  </c-btns.icon>
  {% endif %}
</div>