{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'departments'|title %}{% endblock %}

{% block body %}

<span
class="hidden"
x-init="breadCrumbs.push(
    {
        text: '{% translate 'departments' %}', 
        href: '{% url 'departments:index' %}'
    }
)"  
></span>

<c-layout.app-container id="departments-table" app_title="{% translate 'departments' %}">

    <c-slot name="filters">
        {% include 'partials/filters/base.html' %}
    </c-slot>

    <c-slot name="table">
        {% include 'apps/departments/partials/index/table.html' %}
    </c-slot>

</c-layout.app-container>

{% endblock %}
