<div 
class="flex items-center justify-between gap-1 px-2 py-1 text-blue-500 text-xs" 
x-transition:enter="transition ease-out duration-100"
x-transition:enter-start="opacity-0 scale-90"
x-transition:enter-end="opacity-100 scale-100"
x-transition:leave="transition ease-in duration-100"
x-transition:leave-start="opacity-100 scale-100"
x-transition:leave-end="opacity-0 scale-90"
x-data="{ show: true }" 
x-show="show">
  <span>{{ obj.name }}</span>
  <input 
  x-model="show"
  type="checkbox" 
  class="hidden"
  name="{{ name }}" 
  value="{{ obj.id }}" 
  id="{{ obj.id }}" />
  <span>
    <c-btns.icon 
    @click="show = false"
    @click.debounce.150="$el.parentElement.parentElement.remove()">
      <c-icons.x ratio="1rem" />
    </c-btns.icon>
  </span>
</div>
