{% load i18n %}

<div class="relative w-full max-w-64" x-data="{open: false}">
  <span
    role="button"
    @click="open = !open"
    class="input w-full !flex items-center justify-between"
  >
    <span class="capitalize text-neutral-500 whitespace-nowrap truncate"> {{ name }} </span>
    <c-icons.arrow-down ratio="1rem" />
  </span>

  <div
    role="menu"
    x-show="open"
    @click.outside="open = false"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="opacity-0 scale-90"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-100"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-90"
    class="origin-top min-w-64 bg-[hsl(0,0%,99%)] dark:bg-neutral-950 absolute top-[calc(100%_+_.5rem)] z-50 left-0 rounded-lg border border-neutral-300 dark:border-neutral-800 overflow-hidden p-4 [&_label]:whitespace-nowrap"
    x-cloak
  >
    <div class="flex items-center justify-between gap-2">
      <label for="lte-{{ name }}">
        {% translate 'less than or equal'|title %}
      </label>
      <input id="lte-{{ name }}" class="input" type="number" min="0" step="100" />
    </div>
    <div class="flex items-center justify-between gap-2">
      <label for="lt-{{ name }}">
        {% translate 'less than'|title %}
      </label>
      <input id="lt-{{ name }}" class="input" type="number" min="0" step="100" />
    </div>
    <div class="flex items-center justify-between gap-2">
      <label for="equal-{{ name }}">
        {% translate 'equal'|title %}
      </label>
      <input id="equal-{{ name }}" class="input" type="number" min="0" step="100" />
    </div>
    <div class="flex items-center justify-between gap-2">
      <label for="gt-{{ name }}">
        {% translate 'greater than'|title %}
      </label>
      <input id="gt-{{ name }}" class="input" type="number" min="0" step="100" />
    </div>
    <div class="flex items-center justify-between gap-2">
      <label for="gte-{{ name }}">
        {% translate 'greater than or equal'|title %}
      </label>
      <input id="gte-{{ name }}" class="input" type="number" min="0" step="100" />
    </div>
    <input type="range" name="" id="">
  </div>
</div>
