{% load i18n %}

<c-vars theme="input w-full select-none peer ltr:!pl-12 rtl:!pr-12" />

<div 
id="{{ container_id }}" 
class="relative">
  <div class="relative">
    {% if name is None %}
    <input
      hx-post="{{ path }}"
      hx-trigger="input changed delay:500ms, search"
      hx-swap="innerHTML"
      hx-target="#search-results"
      hx-indicator="#search-spinner"
      hx-disabled-elt="*[data-disabled]"
      @click.outside="emptySearchResults"
      @keydown.escape="emptySearchResults"
      @blur="onBlur"
      x-init="
      let id = $el.parentElement
                    .parentElement
                    .parentElement
                    .querySelector('label')
                    .getAttribute('for')
      $el.id = id;
      "
      type="search"
      class="{{ theme }}"
      name="q"
      placeholder="{{ placeholder }}"
    />
    <input type="hidden" name="{{ name }}" />

    <script>

      function hello() {
        console.log('hello')
      }
      
      function onBlur() {
        let results = document.getElementById("search-results");
        let criteria = Boolean(results.querySelector('[data-empty]'));
        if (criteria) {
            emptySearchResults();
        }
      }

      function emptySearchResults() {
        document.getElementById("search-results").innerHTML = "";
        document.querySelector("[name='q']").value = "";
      }
    </script>

    {% else %}
    <input 
    type="text" 
    class="{{ theme }}" 
    value="{{ value }}" 
    disabled
    x-init="
    let id = $el.parentElement
                  .parentElement
                  .parentElement
                  .querySelector('label')
                  .getAttribute('for')
    $el.id = id;
    "
    name="q" />
    <input type="hidden" name="{{ name }}" value="{{ obj.id }}" />
    <span
      hx-get="{{ path }}"
      hx-target="#{{ container_id }}"
      hx-trigger="click"
      hx-indicator="#search-spinner"
      hx-disabled-elt="*[data-disabled]"
      class="absolute cursor-pointer rtl:left-4 ltr:right-4 top-1/2 -translate-y-1/2 z-20 hidden peer-disabled:block"
    >
      <c-btns.icon>
        <c-icons.x ratio="1.25rem" />
      </c-btns.icon>
    </span>
    {% endif %}

    <div class="block absolute rtl:right-4 ltr:left-4 top-1/2 -translate-y-1/2">
      <div id="search-spinner" class="hx-request:hidden">
        <c-icons.magnifier ratio="1.25rem" />
      </div>
      <div id="search-spinner" class="hidden hx-request:block hx-request:animate-spin">
        <c-icons.reset ratio="1.25rem" />
      </div>
    </div>
  </div>

  <ul
    id="search-results"
    class="absolute left-0 top-[calc(100%_+_0.5rem)] w-full bg-white dark:bg-gray-950 divide-y divide-gray-200 dark:divide-gray-900 rounded-lg ring-1 ring-gray-100 dark:ring-gray-900 shadow-md dark:shadow-inner max-h-36 overflow-y-auto empty:hidden"
  ></ul>
</div>
