{% load i18n %}

<div 
  class="w-fit relative" 
  x-effect="
  concatItems = items.filter(e => e.checked).map(e => e.text).join(', ');
  selectedCount = items.filter(e => e.checked).length"
  x-init="canOpen = Boolean(items.length);
  items = items.map(e => {
    let direction = e.name.startsWith('-') ? 'desc' : 'asc';
    let code = direction === 'asc' ? e.name : e.name.slice(1);
    let text = code.replace(/_{1,2}/g, ' ').trim();
    return {
      direction: direction,
      code: code,
      text: text,
      value: e.name,
      checked: e.checked,
    }
  })"
  x-data="{
    canOpen: true,
    dropdownOpen: false, 
    concatItems: '',
    selectedCount: 0,
    items: JSON.parse('{{ ordering }}'),
}">

  <span
    @click="dropdownOpen = canOpen"
    :title="concatItems"
    class="flex items-center justify-center gap-2 rounded-md border border-neutral-200 dark:border-neutral-800 py-2 px-4 text-sm font-medium transition-colors focus:outline-none  disabled:pointer-events-none disabled:opacity-50"
    role="button"
  >
    <span x-text="selectedCount ?  selectedCount + '{% translate ' selected' %}' : '{% translate 'sort by' %}'" class="translate-y-px leading-none capitalize">
      
    </span>
    <span class="rotate-90">
      <c-icons.double-arrow ratio="0.75rem" />
    </span>
  </span>

  <div
    x-show="dropdownOpen"
    @click.away="dropdownOpen=false"
    x-transition:enter="ease-out duration-200"
    x-transition:enter-start="-translate-y-2"
    x-transition:enter-end="translate-y-0"
    class="absolute top-0 z-50 mt-8 end-2 min-w-56"
    x-cloak
  >
    <div
      class="mt-1 rounded-md bg-white dark:bg-neutral-800 border border-neutral-200 dark:border-neutral-800  p-1 shadow-md"
    >

      <div x-sort>
        <template x-for="(item, idx) in items" :key="item.value">
          <div
          x-sort:item
          class="relative flex select-none gap-2 items-center rounded px-2 py-1.5 text-sm outline-none transition-colors hover:bg-neutral-100 dark:hover:bg-neutral-900 cursor-pointer"
          >
            <div class="flex items-center gap-1 w-full">
              <input type="checkbox" class="check" name="order" x-model="item.checked" :id="'id_' + item.value" :value="item.value" data-include>
              <label :for="'id_' + item.value" x-text="item.text" class="capitalize whitespace-nowrap block">
              </label>
            </div>
            
            <span 
            @click="
            let direction = item.direction; 
            item.direction = direction === 'asc' ? 'desc' : 'asc';
            item.value = direction === 'asc' ? '-' + item.code : item.code;" 
            :class="{ 'text-blue-500': item.direction === 'desc' }" 
            :title="item.direction === 'asc' ? '{% translate 'ascending'|title %}' : '{% translate 'descending'|title %}'"
            class="block font-semibold tracking-tighter text-xs cursor-pointer duration-150 capitalize" x-text="item.direction === 'asc' ? '{% translate 'asc' %}' : '{% translate 'desc' %}'">
            </span>
  
          </div>
        </template>
      </div>
    
      <div class="flex items-center justify-end gap-1 me-1">
  
        <c-btns.btn 
        datatheme="secondary" 
        hx-get="{{ index_path }}"
        hx-target="{{ target }}"
        hx-replace-url="true"
        hx-headers='{"partial": true}'
        hx-include="[data-include]">
          {% translate 'sort' %}
        </c-btns.btn>
  
      </div>

    </div>

  </div>
</div>
