<div
  class="flex justify-between cursor-default select-none items-center rounded px-2 py-1.5 capitalize outline-none hover:bg-neutral-100 dark:hover:bg-neutral-900"
>
  {{ slot }}
  <span class="rtl:rotate-180">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="ml-auto h-4 w-4"
  >
    <polyline points="9 18 15 12 9 6"></polyline>
  </svg>
  </span>
</div>
