{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'add new status'|title %}{% endblock %}

{% block body %}

    <template 
    x-init="let hrefs = [
        {
            text: '{% translate 'statuses' %}', 
            href: '{% url 'statuses:index' %}'
        },
        {
            text: '{% translate 'add new' %}', 
            href: '{% url 'statuses:create' %}'
        },
    ];
    breadCrumbs = [...breadCrumbs, ...hrefs]"
    ></template>

    <c-base.create-form/>

{% endblock %}