{% load i18n %}

<div
  data-server='{{ data_server }}'
  x-data="{
    ...JSON.parse($el.dataset.server),
    headers: [],
    headersNames: [],
    datalistData: {},
    checkAll: false,
    selectedObjects: 0,
    selectedColumns: 0,
    headerRowClass: 'sticky top-0 z-20 left-0 bg-white dark:bg-neutral-800/60 border-b border-neutral-300 dark:backdrop-blur-sm dark:border-none first-letter:capitalize font-semibold tracking-tight ~p-1/2',
    setSelectedObjects() {
      this.selectedObjects = this.objects.filter(e => e.selected).length;
    },
    handleCheckAll() {
      this.objects = this.objects.map(e => {
        e.selected = e.show ? !this.checkAll : e.selected;
        return e;
      });
      this.checkAll = !this.checkAll
    },
    handleInputChange(keywords, header) {
      this.objects.map(e => {
        e.show = false;
        if (String(e.data[header].value).includes(keywords)) {
          e.show = true;
        }
        return e;
      })
    },
    generateHeadersNames() {
      this.headersNames = this.headers.filter(e => e.at(-1)).map(e => e[0]);
    },
    generateSelectedColumns() {
      this.selectedColumns = this.headers.filter(e => e.at(-1)).map(e => e[0]).length;
    },
    generateDatalistData() {
      this.headersNames.map(header => {
          let data = this.objects.map(obj => obj.data[header].value);
          this.datalistData[header] = [...new Set(data)];
      });
    },
    setContextAttributes(element, attrs) {
      attrs.forEach(e => {
        let [key, value] = Object.entries(e)[0];
        if (key.startsWith('x-on')) {
            let event = key.split(':').at(-1);
            element.addEventListener(event, () => eval(value));
        } else {
            element.setAttribute(key, value);
        }
      })
    },
    init() {
      this.objects = this.objects.map(e => {
        e.show = true;
        e.selected = false;
        return e;
      });
      let firstObject = this.objects.length && this.objects[0]?.data;
      this.headers = Object.entries(firstObject).map(e => {
        e = [...e, true];
        return e;
      });
      this.generateHeadersNames();
      this.generateDatalistData();
      this.generateSelectedColumns();
      this.setSelectedObjects();
      $watch('objects', () => this.setSelectedObjects());
      $watch('headers', () => {
        this.generateHeadersNames();
        this.generateSelectedColumns();
      });
    }
  }"
  class="hx-swap:cursor-no-drop hx-swap:opacity-20 hx-settle:cursor-no-drop hx-settle:opacity-20"
>
  <form hx-get="{{ bulk_path }}">

    <div class="m-2 flex flex-wrap items-center justify-end gap-2">
      <c-data-table.sort-by />
      <c-data-table.select-columns />
      <c-data-table.bulk-actions />
    </div>

    <div
      class="m-2 max-h-[50vh] overflow-hidden overflow-x-auto overflow-y-auto rounded-md border border-neutral-200 scrollbar-thin dark:border-neutral-800 md:max-h-[60vh] lg:max-h-[66vh]"
    >
      <table
        class="relative w-full table-auto border-separate border-spacing-0 rounded-md ~text-xs/sm"
      >
        <tr class="p-2 max-md:hidden">
          <th colspan="2" :class="headerRowClass">
            <input
              @change="handleCheckAll()"
              type="checkbox"
              class="check mx-auto block"
              id="checkAll"
            />
          </th>
          <template x-for="header in headers" :key="header.at(1).name">
            <th
              :class="headerRowClass"
              :title="header.at(1)?.codeName"
              x-show="header.at(-1)"
            >
              <span x-text="header.at(1).name"></span>
              <input
                autocomplete="on"
                @search="handleInputChange($el.value, header.at(0))"
                @change="handleInputChange($el.value, header.at(0))"
                class="input my-1 w-full text-sm font-normal"
                type="search"
                :list="header.at(0) + '-list'"
                :id="header[0]"
              />
              <datalist :id="header.at(0) + '-list'">
                <template x-for="datalist in datalistData[header.at(0)]">
                  <option :value="datalist"></option>
                </template>
              </datalist>
            </th>
          </template>
          <th :class="headerRowClass"></th>
        </tr>
        <template x-for="(obj, idx) in objects" :key="obj.data.name.value">
          <tr
            class="tr"
            x-show="obj.show"
            x-transition:enter="opacity-50"
            x-transition:leave="opacity-50"
            x-data="{
              objectHeaders: Object.entries(obj.data).map(e => e[0]),
              checkId: $id('check-input'),
            }"
          >
            <td class="p-1">
              <input
                type="checkbox"
                class="check mx-auto block"
                :name="obj.data.pk.value + '-selected'"
                x-model="obj.selected"
                :id="checkId"
              />
            </td>
            <td class="p-1 font-semibold" x-text="idx + 1"></td>
            <template x-for="h in objectHeaders" :key="h">
              <td
                class="p-1 max-md:grid max-md:grid-cols-3 max-md:items-center max-md:gap-2 max-md:px-2 max-md:py-1 max-md:before:font-medium max-md:before:capitalize max-md:before:content-[attr(data-header)]"
                :data-header="obj.data[h].name"
                x-show="headersNames.includes(h)"
                x-transition:enter="opacity-50"
                x-transition:leave="opacity-50"
                x-html="obj.data[h].link 
                ? `<a :href='obj.data[h].link' class='hover:underline' x-text='obj.data[h].value'></a>` 
                : `<span :href='obj.data[h].link' x-text='obj.data[h].value'></span>`"
              ></td>
            </template>
            <td class="p-1">
              <c-data-table.context-menu />
            </td>
          </tr>
        </template>
      </table>
    </div>
  </form>

  <c-table.pagination url="{{ index_path }}" target="{{ target }}">
    {% if can_export %}
    <c-btns.icon
      hx-post="{{ export_path }}"
      hx-target="#modal"
      @click="modalOpen = true"
      title="{% translate 'export'|title %}"
      hx-include="[data-include]"
    >
      <c-icons.download ratio="1.5rem"></c-icons.download>
    </c-btns.icon>
    {% endif %} 
    {% if can_create %}
    <c-btns.icon
      datatype="href"
      title="{% translate 'add new record'|title %}"
      href="{{ create_path }}"
    >
      <c-icons.plus ratio="1.25rem"></c-icons.plus>
    </c-btns.icon>
    {% endif %}
  </c-table.pagination>
</div>
