{% load i18n %}

{% with 'nationality-filter-form' as filter_form %}
{% with '#nationalities-table' as target %}

{% with perms.nationalities.add_nationality as can_create %}
{% with perms.nationalities.delete_nationality as can_delete %}
{% with perms.nationalities.change_nationality as can_update %}
{% with perms.nationalities.can_export as can_export %}

{% url 'nationalities:index' as index_path %}
{% url 'nationalities:bulk' as bulk_path %}
{% url 'nationalities:create' as create_path %}
{% url 'nationalities:export' as export_path %}

<c-layout.app-container id="nationalities-table" app_title="{% translate 'nationalities' %}">

  <c-slot name="filters">
    {% include 'apps/nationalities/partials/table/filters.html' %}
  </c-slot>

  <c-slot name="body">
    {% include 'apps/nationalities/partials/table/table.html' %}
  </c-slot>

  <c-slot name="pagination">
    {% include 'apps/nationalities/partials/table/pagination.html' %}
  </c-slot>

</c-layout.app-container>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}