{% load i18n %}

{% with 'nationality-filter-form' as filter_form %}
{% with '#nationalities-table' as target %}

{% with perms.nationalities.add_nationality as can_create %}
{% with perms.nationalities.delete_nationality as can_delete %}
{% with perms.nationalities.change_nationality as can_update %}
{% with perms.nationalities.can_export as can_export %}
{% with perms.activities.view_activity as can_log %}

{% url 'nationalities:index' as index_path %}
{% url 'nationalities:bulk' as bulk_path %}
{% url 'nationalities:create' as create_path %}
{% url 'nationalities:export' as export_path %}

<c-layout.app-container id="nationalities-table" app_title="{% translate 'nationalities' %}">

  <c-slot name="filters">
    {% include 'partials/filters/base.html' %}
  </c-slot>

  <c-slot name="body">
    <form 
    hx-get="{{ bulk_path }}" 
    hx-include="[data-include]"
    x-data="{ selectedRows: [] }">
    
      <c-table.container>
    
        <input
        data-include
        type="hidden"
        name="order"
        value="{% firstof request.GET.order default_column %}"/>
      
        <c-table.table>
          
          <thead>
    
            <c-table.header-row>

              <c-table.header-cell>
                {% if can_delete %}
                <c-table.check data_check="all" />
                {% endif %}
              </c-table.header-cell>

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="name"
              name="{% translate 'name' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="is_local"
              name="{% translate 'local' %}" />

              <c-table.header-cell 
              hx-get="{{ index_path }}"
              hx-target="{{ target }}"
              code_name="description"
              name="{% translate 'description' %}" />

              <c-table.header-cell />
              
            </c-table.header-row>
    
            {% if can_delete %}
            <c-table.unselect-all colspan="4">
              {% if can_delete %}
                <c-table.action-input
                  name="bulk_delete"
                  value="{% translate 'delete'|title %}"
                  title="{% translate 'delete'|title %}" />
              {% endif %}
              {% if user.is_superuser %}
                <c-table.action-input
                  name="bulk_reslugify"
                  value="{% translate 'reslugify'|title %}"
                  title="{% translate 'reslugify'|title %}" />
              {% endif %}
            </c-table.unselect-all>
            {% endif %}
    
          </thead>
          <!-- end header -->
      
          <!-- start rows -->
          <c-table.tbody>
            {% for obj in qs %}
            <c-table.tr>
              <td class="p-2"><c-table.check /></td>
              {% if can_update %}
              <c-table.td href="{{ obj.get_update_path }}">
                {{ obj.name }}
              </c-table.td>
              {% else %}
              <c-table.td>{{ obj.name }}</c-table.td>
              {% endif %}
              <c-table.td>
                {% if obj.is_local %}
                  <c-layout.badge theme="green">
                    {% translate 'local' %}
                  </c-layout.badge>
                  {% else %}
                  <c-layout.badge theme="red">
                    {% translate 'foreign' %}
                  </c-layout.badge>
                {% endif %}
              </c-table.td>
              <c-table.td>{{ obj.description }}</c-table.td>
              <td>{% include 'partials/context/base.html' %}</td>
            </c-table.tr>
            {% empty %}
            <c-table.empty-tr colspan="4" />
            {% endfor %}
          </c-table.tbody>
          <!-- end rows -->
        </c-table.table>
    
      </c-table.container>
    
    </form>
  </c-slot>

  <c-slot name="pagination">
    {% include 'partials/pagination/base.html' %}
  </c-slot>

</c-layout.app-container>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}