{% load mptt_tags %} 
{% load i18n %}
{% load math_filters %}


{% with perms.departments.add_department as can_create %}
{% with perms.departments.delete_department as can_delete %}
{% with perms.departments.change_department as can_update %}
{% with perms.departments.can_export as can_export %}

<c-layout.app-container id="departments-body" app_title="{% translate 'departments' %}">

  <c-slot name="body">
      {% include 'apps/departments/partials/body/body.html' %}
  </c-slot>
    
  <c-slot name="footer">
    {% include 'apps/departments/partials/body/footer.html' %}
  </c-slot>
  
</c-layout.app-container>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}