{% load i18n %}
{% load static %}

<div class="p-3 lg:p-6" id="employee-create-form-container"     hx-target="#employee-create-form-container">
  <div class="@container max-w-2xl mx-auto">

    <h1
      class="text-4xl tracking-tighter font-semibold mb-6 text-start first-letter:capitalize"
    >
      {% translate 'add new employee' %}
    </h1>

    <form 
    hx-post="{{ instance.get_create_path }}" 
    hx-encoding="multipart/form-data">

    <div>

      <ul>
        {% for error in form.non_field_errors %}
        <c-forms.error-li>{{ error }}</c-forms.error-li>
        {% endfor %}
      </ul>
    
      <div class="~space-y-2/4">
    
        <c-forms.form-field :field="form.profile" />
        {% include 'apps/employees/partials/forms/base.html' %}
    
      </div>
    </div>

      <div
        class="flex items-center max-sm:flex-wrap max-sm:justify-center justify-end gap-x-1 gap-y-2 my-6"
      >
            <c-buttons.button
            datatype="input"
            type="submit"
            title="{% translate 'save'|title %}"
            data-disabled
            name="save"
            value="{% translate 'save' %}"
          />

          <c-buttons.button
            datatype="input"
            type="submit"
            data-disabled
            title="{% translate 'save and add another'|title %}"
            value="{% translate 'save and add another' %}"
            name="save_and_add_another"
          />

          <c-buttons.button
            variant="secondary"
            hx-delete="{{ instance.get_create_path }}"
            hx-indicator="#reset-loading"
            hx-disabled-elt="*[data-disabled]"
            data-disabled
            title="{% translate 'reset'|title %}"
          >
            <div id="reset-loading" class="hx-request:animate-spin">
              <c-icons.reset />
            </div>
            <span>{% translate 'reset' %}</span>
          </c-buttons.button>
      </div>
    </form>
  </div>
</div>
