{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'cost centers'|title %}{% endblock %}

{% block body %}

<span
class="hidden"
x-init="breadCrumbs.push({
    text: '{% translate 'cost centers' %}', 
    href: '{% url 'cost_centers:index' %}'
})"></span>

<c-layout.app-container id="cost-centers-table" app_title="{% translate 'cost centers' %}">

    <c-slot name="filters">
        {% include 'partials/filters/base.html' %}
    </c-slot>

    <c-slot name="table">
        {% include 'apps/cost_centers/partials/index/table.html' %}
    </c-slot>

</c-layout.app-container>

{% endblock %}
