{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'job subtypes'|title %}{% endblock %}


{% block body %}

<span
class="hidden"
x-init="breadCrumbs.push({
    text: '{% translate 'job subtypes' %}', 
    href: '{% url 'job_subtypes:index' %}'
})"></span>

<c-layout.app-container id="job-subtypes-table" app_title="{% translate 'job subtypes' %}">

    <c-slot name="filters">
        <c-base.filter-form/>
    </c-slot>

    <c-slot name="table">
        {% include 'apps/job_subtypes/partials/index/table.html' %}
    </c-slot>

</c-layout.app-container>

{% endblock %}
