{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html 
lang="en" 
:class="dark && 'dark'" 
class="scrollbar"
x-data="{ dark: $persist(false).as('dark') }">

  <head>
    {% include 'head.html' %}
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body 
  hx-boost="true"
  hx-history="false"
  hx-indicator="#spinner"
  hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
  @keydown.alt.equal="handleSearchFocus">

      <c-layout.messages-loader />

      <div 
        id="app" 
        class="realtive dark:text-white/80 dark:bg-neutral-950 font-cairo ~text-sm/base" 
        dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
        x-data="{
          mainContainer: $persist(true).as('main-container'), 
          showFilters: false, 
          modalOpen: true,
          messagesTimeout: $persist(10000).as('messages-timeout'),
          breadCrumbs: [
              {
                text: '{% translate 'home' %}', 
                href: '{% url 'base:index' %}'
              },
          ],
        }">

        <c-layout.messages-container />

        <span class="hidden" id="no-content"></span>
        <c-layout.spinner></c-layout.spinner>
        <div id="modal"></div>
        
        <div class="relative min-h-screen mx-2">

            <c-layout.header></c-layout.header>

            <main 
            :class="{ 'container': mainContainer }"
            class="w-full relative pb-4 lg:pt-4 mx-auto">
              <div class="mb-2 mt-4 lg:hidden">
                <c-layout.breadcrumb></c-layout.breadcrumb>
              </div>
              {% block body %}{% endblock %}
            </main>

        </div>

      </div>

      {% block scripts %}{% endblock %}
      {% include 'scripts.html' %}

  </body>

</html>