{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html 
lang="en" 
:class="dark && 'dark'" 
x-data="{ dark: $persist(false).as('dark') }">

  <head>
    {% include 'head.html' %}
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body 
  hx-boost="true"
  hx-history="false"
  hx-indicator="#spinner"
  hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>

      <c-layout.messages-loader />

      <div 
        id="app" 
        class="realtive bg-neutral-200 dark:text-white/80 dark:bg-neutral-950 font-cairo ~text-sm/base" 
        dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
        x-data="{% include 'x-data.html' %}"
        x-init="
        urls.map(el => {
          return el.children.map(subElement => {
            return location.pathname.startsWith(subElement.url) 
                      ? subElement.isActive = true 
                      : subElement.isActive = false;
          });
        })">

        <c-layout.messages-container />

        <span class="hidden" id="no-content"></span>
        <c-layout.spinner></c-layout.spinner>
        <div id="modal"></div>
        
        <div class="relative">

          <c-layout.aside></c-layout.aside>

          <div 
          :class="{ 'ltr:lg:pr-2 rtl:lg:pl-2 max-lg:!mx-2 ltr:lg:ml-[calc(300px_+_1rem)] rtl:lg:mr-[calc(300px_+_1rem)]': asideFixed, 'mx-2': !asideFixed }"
          class="relative min-h-screen">

            <c-layout.header></c-layout.header>

            <main 
            class="container w-full relative pb-4 lg:pt-4 mx-auto">
              <div class="my-4 lg:hidden">
                <c-layout.breadcrumb></c-layout.breadcrumb>
              </div>
              {% block body %}{% endblock %}
            </main>

          </div>

        </div>

      </div>

      {% block scripts %}{% endblock %}

  </body>

</html>