{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html 
lang="en" 
:class="dark && 'dark'" 
x-data="{ dark: $persist(false).as('dark') }">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'head.html' %}

    {% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

  </head>

  <body 
  hx-boost="true"
  hx-history="false"
  hx-indicator="#spinner"
  hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>

      <div 
        id="app" 
        class="realtive bg-gray-100/80 dark:text-white/80 dark:bg-gray-950 font-cairo" 
        dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
        x-init="
        urls.map(el => {
          return location.pathname.startsWith(el.url) 
                    ? el.isActive = true 
                    : el.isActive = false;
        });
        "
        x-data="{
          asideOpen: false, 
          modalOpen: true,
          breadCrumbs: [
              {
                text: '{% translate 'home' %}', 
                href: '{% url 'base:index' %}'
              },
          ],
          urls: [
            {% if perms.faculties.view_faculty %}
              {
                text: '{% translate 'faculties' %}', 
                url: '{% url 'faculties:index' %}', 
                isActive: false,
              },
            {% endif %}
            {% if perms.departments.view_faculty %}
              {
                text: '{% translate 'departments' %}', 
                url: '{% url 'departments:index' %}', 
                isActive: false,
              },
            {% endif %}
          ]
        }"
      >

        <span class="hidden" id="no-content"></span>
        <c-layout.spinner></c-layout.spinner>
        <div id="modal"></div>
        <c-layout.messages></c-layout.messages>
        
        <div class="relative lg:grid grid-cols-[300px_1fr]">

          <c-layout.aside></c-layout.aside>

          <div class="px-2 ltr:lg:ml-2 rtl:lg:mr-2 max-lg:min-h-screen">

            <c-layout.header></c-layout.header>

            <main class="relative pb-6 lg:pt-6 mx-auto container">
              <div class="mt-8 mb-4 lg:hidden">
                <c-layout.breadcrumb></c-layout.breadcrumb>
              </div>
              {% block body %}{% endblock %}
            </main>

          </div>

        </div>

      </div>

      {% if debug %}
      <script>
        if (typeof window.htmx !== undefined) {
          htmx.on("htmx:afterSettle", function(detail) {
              if (
                  typeof window.djdt !== "undefined"
                  && detail.target instanceof HTMLBodyElement
              ) {
                  djdt.show_toolbar();
              }
          });
      }
      </script>
      {% endif %}

      {% block scripts %}{% endblock %}

  </body>

</html>