<script>

  function handleSearchFocus() {
    const element = document.querySelector('#main-employee-search input');
    element.focus();
  }

  function handleConfirmMessage(e) {
    const message = e.target.getAttribute("data-confirm").toUpperCase();

    const confirmDialog = confirm(message);

    if (!confirmDialog) {
      e.preventDefault();
    }
  }

  function setOffsetContextMenu(e) {
    const ul = e.target.closest('div[data-container]').querySelector('ul');
    const ulWidth = getComputedStyle(ul).width;
    const ulHeight = 100;
    const portHeight = document.documentElement.clientHeight;
    const direction = document.getElementById('app').dir;

    let left = e.x;
    let top = e.y;

    if (direction === 'rtl') {
      left = `${e.x + 16}px`
    } else {
      left = `calc(${e.x - 16}px - ${ulWidth})`
    }

    const topCriteria = (portHeight - e.y) > ulHeight;
    top = topCriteria ? top : (portHeight - ulHeight - 16);

    ul.style.left = left;
    ul.style.top = `${top}px`;

  }

  function handleCheckBoxSelect(e) {
    let isChecked = e.target.checked;
    let rowsChecks = document.querySelectorAll(`input[data-check]`);
    let form = document.querySelector('[x-data="{ selectedRows: [] }"]')
    rowsChecks.forEach(el => {
      el.checked = isChecked;
      let id = el.getAttribute('id');
      if (isChecked) Alpine.$data(form).selectedRows.push(id);
    });
    Alpine.$data(form).selectedRows = [...new Set(Alpine.$data(form).selectedRows)]
    if (!isChecked) Alpine.$data(form).selectedRows = [];
  }

  function setQueryString() {
    if (location.search) {
      sessionStorage.setItem('query', location.search);
    }
  }

</script>