{% load static %}

<!-- htmx configuration -->
<meta 
name="htmx-config" 
content='{ 
    "globalViewTransitions": true, 
    "refreshOnHistoryMiss": true 
}'>

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">

<!-- css files -->
<link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

<!-- global styles -->
<style>
[x-cloak] {
    display: none;
}

[role="modal"] > * {
    width: min(100%,600px);
    margin-inline: 1rem;
}
</style>

<!-- alpine plugins -->
<script src="{% static 'js/plugins/autosize.min.js' %}" defer></script>
<script src="{% static 'js/plugins/collapse.min.js' %}" defer></script>
<script src="{% static 'js/plugins/persist.min.js' %}" defer></script>
<script src="{% static 'js/plugins/focus.min.js' %}" defer></script>
<script src="{% static 'js/plugins/mask.min.js' %}" defer></script>

<!-- js libraries -->
<script src="{% static 'js/alpine.min.js' %}" defer></script>
<script src="{% static 'js/htmx.min.js' %}" defer></script>