<script>

  function formatDate(date) {
    let month = date.getMonth() + 1;
    let day = date.getDate();
    month = month.toString().padStart(2, '0');
    day = day.toString().padStart(2, '0');
    return `${date.getFullYear()}-${month}-${day}`;
  }

  function insertDate(target, date) {
    if (!date) {
      date = new Date();
    }
    target.value = formatDate(date);
  }

  function getDateFragments(value) {

    let date = new Date();

    if (value) {
      date = new Date(value)
    }
    
    if (isNaN(date.getTime())) {
      date = new Date();
    }

    return {
      date: date,
      year: date.getFullYear(),
      month: date.getMonth(), 
      day: date.getDate(), 
    }

  }

  function handleDateInputDblClick(el) {
    insertDate(el.target)
  }

  function handleDateInputFocus(el) {
    let date = new Date(el.target.value);

    if (isNaN(date.getTime()) || !el.target.value) {
      insertDate(el.target)
      el.target.select();
    }
  }

  function handleDateInputKeyDown(el, direction) {

    let {date, day} = getDateFragments(el.value);

    direction === 'up' ? date.setDate(day + 1) : date.setDate(day - 1);
    
    insertDate(el, date)

  }

  function handleDateInputAltKeyDown(el, direction) {

    let {date, year} = getDateFragments(el.value);

    direction === 'up' 
      ? date.setFullYear(year + 1) 
      : date.setFullYear(year - 1);

    insertDate(el, date)

  }

  function handleSearchFocus() {
    const element = document.querySelector('#main-employee-search input');
    element.focus();
  }

  function handleConfirmMessage(e) {
    const message = e.target.getAttribute("data-confirm").toUpperCase();

    const confirmDialog = confirm(message);

    if (!confirmDialog) {
      e.preventDefault();
    }
  }

  function handleContextClick(e) {
    const contextMenuBtn = e.target.closest('tr').querySelector('td:last-child span');
    Alpine.$data(contextMenuBtn).openContext = true;
  }

  function setOffsetTr(element) {
    const ul = element.target.closest('tr').querySelector('td:last-child ul');
    const ulWidth = getComputedStyle(ul).width;
    const ulHeight = Math.floor(+getComputedStyle(ul).height.replace('px', ''))
    const portHeight = document.documentElement.clientHeight;
    const direction = document.getElementById('app').dir;
    const rightOrLeft = direction === 'ltr' ? '-' : '+';

    let left = element.x;
    let top = element.y;

    if (direction === 'rtl') {
      left = `${element.x + 16}px`
    } else {
      left = `calc(${element.x - 16}px - ${ulWidth})`
    }

    const topCriteria = (portHeight - element.y) > ulHeight;
    top = topCriteria ? top : (portHeight - ulHeight - 16);

    ul.style.left = left;
    ul.style.top = `${top}px`;
  }

  function setOffsetContextMenu(element) {
    const ul = element.target.closest('div[data-container]').querySelector('ul');
    const ulWidth = getComputedStyle(ul).width;
    const ulHeight = Math.floor(+getComputedStyle(ul).height.replace('px', ''))
    const portHeight = document.documentElement.clientHeight;
    const direction = document.getElementById('app').dir;

    let left = element.x;
    let top = element.y;

    if (direction === 'rtl') {
      left = `${element.x + 16}px`
    } else {
      left = `calc(${element.x - 16}px - ${ulWidth})`
    }

    const topCriteria = (portHeight - element.y) > ulHeight;
    top = topCriteria ? top : (portHeight - ulHeight - 16);

    ul.style.left = left;
    ul.style.top = `${top}px`;
  }

  function handleCheckBoxSelect(e) {
    let isChecked = e.target.checked;
    let rowsChecks = document.querySelectorAll(`input[data-check]`);
    let form = document.querySelector('[x-data="{ selectedRows: [] }"]')
    rowsChecks.forEach(el => {
      el.checked = isChecked;
      let id = el.getAttribute('id');
      if (isChecked) Alpine.$data(form).selectedRows.push(id);
    });
    Alpine.$data(form).selectedRows = [...new Set(Alpine.$data(form).selectedRows)]
    if (!isChecked) Alpine.$data(form).selectedRows = [];
  }
  
</script>