<script>

  function formatDate(date) {
    let month = date.getMonth() + 1;
    let day = date.getDate();
    month = month.toString().padStart(2, '0');
    day = day.toString().padStart(2, '0');
    return `${date.getFullYear()}-${month}-${day}`;
  }

  function insertDate(target, date) {
    if (!date) {
      date = new Date();
    }
    target.value = formatDate(date);
  }

  function getDateFragments(value) {

    let date = new Date();

    if (value) {
      date = new Date(value)
    }
    
    if (isNaN(date.getTime())) {
      date = new Date();
    }

    return {
      date: date,
      year: date.getFullYear(),
      month: date.getMonth(), 
      day: date.getDate(), 
    }

  }

  function handleDateInputDblClick(el) {
    insertDate(el.target)
  }

  function handleDateInputFocus(el) {
    let date = new Date(el.target.value);

    if (isNaN(date.getTime()) || !el.target.value) {
      insertDate(el.target)
    }
  }

  function handleDateInputKeyDown(el, direction) {

    let {date, day} = getDateFragments(el.value);

    direction === 'up' ? date.setDate(day + 1) : date.setDate(day - 1);
    
    insertDate(el, date)

  }

  function handleDateInputAltKeyDown(el, direction) {

    let {date, year} = getDateFragments(el.value);

    direction === 'up' 
      ? date.setFullYear(year + 1) 
      : date.setFullYear(year - 1);

    insertDate(el, date)

  }
</script>