{% load i18n %}

{% with perms.areas.view_area as can_area %}
{% with perms.cities.view_city as can_city %}
{% with perms.statuses.view_status as can_status %}
{% with perms.job_types.view_jobtype as can_job_type %}
{% with perms.positions.view_position as can_position %}
{% with perms.departments.view_department as can_department %}
{% with perms.job_subtypes.view_jobsubtype as can_job_subtype %}
{% with perms.cost_centers.view_costcenter as can_cost_center %}
{% with perms.nationalities.view_nationality as can_nationality %}

{% with perms.employees.view_employee as can_employee %}

{
  asideOpen: false, 
  asideFixed: $persist(true).as('aside-fixed'), 
  mainContainer: $persist(true).as('main-container'), 
  showFilters: false, 
  modalOpen: true,
  messagesTimeout: $persist(10000).as('messages-timeout'),
  breadCrumbs: [
      {
        text: '{% translate 'home' %}', 
        href: '{% url 'base:index' %}'
      },
  ],
  urls: [
    {% if can_employee %}
    {
      text: '{% translate 'employees' %}', 
      children: [
        {% if can_employee %}
        {
          text: '{% translate 'employees' %}', 
          url: '{% url 'employees:index' %}', 
          isActive: false,
        },
        {% endif %}
      ]
    },
    {% endif %}
    {% if can_faculty or can_department %}
    {
      text: '{% translate 'constants' %}', 
      children: [
          {% if can_cost_center %}
          {
            text: '{% translate 'cost centers' %}', 
            url: '{% url 'cost_centers:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_department %}
          {
            text: '{% translate 'departments' %}', 
            url: '{% url 'departments:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_city %}
          {
            text: '{% translate 'cities' %}', 
            url: '{% url 'cities:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_area %}
          {
            text: '{% translate 'areas' %}', 
            url: '{% url 'areas:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_job_type %}
          {
            text: '{% translate 'job types' %}', 
            url: '{% url 'job_types:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_job_subtype %}
          {
            text: '{% translate 'job subtypes' %}', 
            url: '{% url 'job_subtypes:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_position %}
          {
            text: '{% translate 'positions' %}', 
            url: '{% url 'positions:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_nationality %}
          {
            text: '{% translate 'nationalities' %}', 
            url: '{% url 'nationalities:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_status %}
          {
            text: '{% translate 'statuses' %}', 
            url: '{% url 'statuses:index' %}', 
            isActive: false,
          },
          {% endif %}
        ]
    },
    {% endif %}
  ]
}

{% endwith %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}