{% load i18n %}

{% with perms.departments.view_department as can_department %}
{% with perms.job_types.view_department as can_job_type %}
{% with perms.job_subtypes.view_department as can_job_subtype %}
{% with perms.positions.view_position as can_position %}
{% with perms.cost_centers.view_cost_center as can_cost_center %}

{
  asideOpen: false, 
  modalOpen: true,
  messagesTimeout: $persist(10000).as('messages-timeout'),
  breadCrumbs: [
      {
        text: '{% translate 'home' %}', 
        href: '{% url 'base:index' %}'
      },
  ],
  urls: [
    {% if can_faculty or can_department %}
    {
      text: '{% translate 'departments' %}', 
      children: [
          {% if can_cost_center %}
          {
            text: '{% translate 'cost centers' %}', 
            url: '{% url 'cost_centers:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_department %}
          {
            text: '{% translate 'departments' %}', 
            url: '{% url 'departments:index' %}', 
            isActive: false,
          },
          {% endif %}
        ]
      },
    {% endif %}
    {% if can_job_type or can_job_subtype or can_position %}
    {
      text: '{% translate 'job types' %}', 
      children: [
          {% if can_job_type %}
          {
            text: '{% translate 'job types' %}', 
            url: '{% url 'job_types:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_job_subtype %}
          {
            text: '{% translate 'job subtypes' %}', 
            url: '{% url 'job_subtypes:index' %}', 
            isActive: false,
          },
          {% endif %}
          {% if can_position %}
          {
            text: '{% translate 'positions' %}', 
            url: '{% url 'positions:index' %}', 
            isActive: false,
          },
          {% endif %}
        ]
      },
    {% endif %}
  ]
}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}