{% load i18n %}

<div class="space-y-4">

  <p class="first-letter:capitalize text-xl">
    <span>{% translate 'are you sure you want to ' %}</span>
    <span class="uppercase font-bold">{% translate ' reslugify ' %}</span>
    <span>{% translate 'these' %}</span>
    <span>{{ qs.count }}</span>
    <span>{% translate 'objects: ' %}</span>
  </p>
  
  <ul>
    {% for obj in qs %}
    <li class="flex items-center gap-4 pl-4">
      <span class="size-2 dark:bg-neutral-100 bg-neutral-900 rounded-full"></span>
      <span>{{ obj.name }}</span>
    </li>
    {% endfor %}
  </ul>

</div>
