{% load i18n %}

<div
  data-container
  class="relative inline-block"
  @click.outside="openContext = false"
  @scroll.window="openContext = false"
  x-data="{openContext: false}"
>
  <c-btns.icon
    @click="openContext = true; setOffsetContextMenu($event)"
    role="button"
    :class="openContext && '!bg-neutral-300 dark:!bg-neutral-700'"
  >
    <c-icons.ellipsis ratio="1rem" />
  </c-btns.icon>

  <ul
    role="menu" x-cloak class="contextmenu" x-show="openContext"
    x-transition:enter="transition ease-linear duration-100"
    x-transition:enter-start="-translate-y-1 opacity-90"
    x-transition:enter-end="translate-y-0 opacity-100">
      {{ slot }}
  </ul>
</div>
