{% load i18n %}

<div
  x-data="{open: false}"
  @click="open = true"
  :class="open && 'bg-neutral-50 dark:bg-neutral-800'"
  class="relative select-none rounded-md px-4 py-2 dark:hover:bg-neutral-800 hover:bg-neutral-100 duration-150"
  role="button"
>
  <div class="flex items-center justify-center gap-1">
    <span class="font-semibold"> {{ user.username }} </span>
    <span :class="open && 'rotate-180'" class="duration-150">
      <c-icons.arrow-down ratio="1rem" />
    </span>
  </div>

  <ul
    role="menu"
    x-show="open"
    @click.outside="open = false"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="opacity-0 scale-90"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-100"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-90"
    x-cloak
    class="rounded-lg overflow-hidden py-2 absolute rtl:left-0 ltr:right-0 top-[calc(100%+.5rem)] dark:bg-neutral-900 border  dark:border-neutral-800 bg-white z-10 ltr:text-left rtl:text-right ltr:origin-top-right rtl:origin-top-left w-[max-content] custom-shadow dark:shadow-none"
  >
    <div class="flex items-center gap-x-2 text-nowrap p-4">
      
      <c-layout.avatar />

      <div>
        <h1 class="font-semibold text-neutral-700 capitalize dark:text-white tracking-tighter">
          {% if user.first_name and user.last_name %}
          {{ user.first_name|title }} {{ user.last_name|title }}
          {% else %}
          {{ user.username }}
          {% endif %}
        </h1>

        <p class="text-neutral-500 dark:text-neutral-400">@{{ user.username }}</p>
      </div>

      <div>
        <c-btns.icon 
        title="{% translate 'user configurations'|title %}"
        @click="modalOpen = true" 
        hx-get="{% url 'base:user-configurations' %}" 
        hx-target="#modal">
          <c-icons.gear ratio="1.25rem" />
        </c-btns.icon>
      </div>
    </div>

    <hr class="border-neutral-200 dark:border-neutral-800" />

    {% if user.is_superuser %}

    <c-context.btn datatype="href" hx-boost="false" href="/admin/">
      <span>{% translate 'admin site' %}</span>
    </c-context.btn>

    {% if debug %}
    <c-context.btn datatype="href" hx-boost="false" href="/silk/">
      <span>silk</span>
    </c-context.btn>
    {% endif %}

    <hr class="border-neutral-200 dark:border-neutral-800" />

    {% endif %}

    <c-context.form
      method="POST"
      action="{% url 'logout' %}"
      hx-boost="false"
      btn_title="{% translate 'logout'|title %}"
    />
  </ul>
</div>
