{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'job types'|title %}{% endblock %}


{% block body %}

<span
class="hidden"
x-init="breadCrumbs.push({
    text: '{% translate 'job types' %}', 
    href: '{% url 'job_types:index' %}'
})"></span>

<c-layout.app-container id="job-types-table" app_title="{% translate 'job types' %}">

    <c-slot name="filters">
        <c-base.filter-form/>
    </c-slot>
    
    <c-slot name="table">
        {% include 'apps/job_types/partials/index/table.html' %}
    </c-slot>
    
</c-layout.app-container>

{% endblock %}
