@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .custom-shadow {
        box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    }
    .scrollbar {
        @apply scrollbar-thin scrollbar-track-neutral-100 
        scrollbar-thumb-neutral-300
        dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600;
    }
    .contextmenu {
        @apply rounded overflow-hidden p-1 fixed w-[8rem] dark:bg-neutral-800 border border-neutral-200 bg-white custom-shadow dark:border-none dark:shadow-none dark:border-neutral-800 z-50;
    }
    .tr {
        @apply duration-150 hover:bg-[rgb(235,235,235)] hover:dark:bg-[rgba(10,10,10)]
        has-checked:bg-blue-100 has-checked:dark:bg-blue-900 has-checked:border-blue-200 has-checked:dark:border-blue-950 has-checked:hover:bg-blue-200 has-checked:dark:hover:bg-blue-950 has-delete-checked:bg-red-200 dark:has-delete-checked:bg-red-900
        odd:dark:bg-[rgba(15,15,15)] odd:bg-[rgb(242,242,242)]
    }
    .input {
        @apply block placeholder-neutral-500 rounded-md border border-neutral-200 bg-white ltr:~pl-2/4 ltr:~pr-4/6 ~py-1/2 text-neutral-700 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-40 dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-300 dark:focus:border-blue-300 outline-none duration-75 aria-[invalid]:!border-[red] placeholder:capitalize disabled:opacity-90 dark:disabled:opacity-50 disabled:text-blue-500;

    }
    .check {
        @apply block relative size-4 cursor-pointer appearance-none overflow-hidden rounded border border-neutral-300 bg-white before:absolute before:inset-0 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-neutral-800 dark:border-neutral-700 dark:bg-neutral-800 active:outline-offset-0 dark:focus:outline-neutral-300
    }
    .debug {
        @apply bg-slate-700;
    }
    .info {
        @apply bg-blue-600;
    }
    .success {
        @apply bg-green-600;
    }
    .warning {
        @apply bg-yellow-600;
    }
    .error {
        @apply bg-[red];
    }
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes spin2 {
        to {
            rotate: 360deg;
        }
    }
}

/* .table-inner tr:not(:last-of-type) :where(th, td):first-child {
  @apply border-b border-e border-neutral-200 dark:border-neutral-800;
}
.table-inner tr:last-of-type :where(th, td):first-child {
  @apply border-e border-neutral-200 dark:border-neutral-800;
}
.table-inner tr:not(:last-of-type) :where(th, td):last-child {
  @apply border-b border-s border-neutral-200 dark:border-neutral-800;
}
.table-inner tr:last-of-type :where(th, td):last-child {
  @apply border-s border-neutral-200 dark:border-neutral-800;
}
.table-inner tr:first-of-type :where(th, td):not(:first-child):not(:last-child) {
  @apply border-b border-x border-neutral-200 dark:border-neutral-800;
}
.table-inner tr:not(:first-of-type) :where(th, td):not(:first-child):not(:last-child) {
  @apply border-t border-x border-neutral-200 dark:border-neutral-800;
} */

.fade-animation {
    animation: fade 150ms ease-in;
}
