{% load widget_tweaks %} 
{% load i18n %}

{% url 'employees:update-emails' slug=instance.slug as url %}

<div id="formset-container">
  <form
    hx-post="{{ url }}"
    hx-target="#formset-container"
  >
    {{ formset.management_form }}

    <div class="table-inner border border-neutral-200 dark:border-neutral-800 rounded-lg">
      <c-table.table>

        <c-table.thead>
          <c-table.th>
            {% translate 'email' %}
          </c-table.th>
          <c-table.th>
            {% translate 'notes' %}
          </c-table.th>
          <c-table.th>
            {% translate 'delete' %}
          </c-table.th>
        </c-table.thead>

        {% for form in formset %}
        <c-table.tr>
          <c-table.td data-header="{% translate 'email' %}">
            {{ form.id }} 
            {% if forloop.last %}
            {% render_field form.email|add_class:'input w-full' autofocus="true" %} 
            {% else %}
            {% render_field form.email|add_class:'input w-full' %} 
            {% endif %}
            {% for error in form.email.errors %}
              <c-forms.error-li>{{ error }}</c-forms.error-li>
            {% endfor %}
          </c-table.td>
          <c-table.td data-header="{% translate 'notes' %}">
            {% render_field form.notes|add_class:'input w-full' %} 
            {% for error in form.notes.errors %}
              <c-forms.error-li>{{ error }}</c-forms.error-li>
            {% endfor %}
          </c-table.td>
          <c-table.td data-header="{% translate 'delete' %}">
            <div class="flex items-center justify-center">
              {% render_field form.DELETE|add_class:'check' %}
            </div>
          </c-table.td>
        </c-table.tr>
        {% endfor %}

      </c-table.table>
    </div>

    <div class="my-2 flex items-center justify-center gap-1">

      <c-btns.btn 
      @click="handleConfirmMessage" 
      data-confirm="{% translate 'are you sure you want to continue?' %}"
      datatype="button" 
      type="submit">
        {% translate 'save' %}
      </c-btns.btn>

      <c-btns.btn 
      hx-get="{{ url }}?add_new_row=true" 
      hx-select="#formset-container">
          {% translate 'add new' %}
      </c-btns.btn>
      
      <c-btns.btn datatype="href" variant="secondary" type="reset" hx-target="body" href="{{ url }}">
        {% translate 'reset' %}
      </c-btns.btn>

    </div>
    
  </form>
</div>