{% load i18n %}

<div class="relative mb-2">

  <ul 
  x-data="{
    urls: [
      {
        text: '{% translate 'personal' %}', 
        href: '{{ instance.get_update_path }}', 
        isActive: false,
      },
      {
        text: '{% translate 'mobiles' %}', 
        href: '{% url 'employees:update-mobiles' slug=instance.slug %}', 
        isActive: false,
      },
      {
        text: '{% translate 'emails' %}', 
        href: '{% url 'employees:update-emails' slug=instance.slug %}', 
        isActive: false,
      },
      {
        text: '{% translate 'phones' %}', 
        href: '{% url 'employees:update-phones' slug=instance.slug %}', 
        isActive: false,
      },
      {
        text: '{% translate 'educations' %}', 
        href: '{% url 'employees:update-educational-transactions' slug=instance.slug %}', 
        isActive: false,
      },
      {
        text: '{% translate 'contracts' %}', 
        href: '{% url 'employees:update-contracts' slug=instance.slug %}', 
        isActive: false,
      },
    ]
  }"
  class="flex items-center flex-wrap gap-1 p-1 text-sm rounded-md  border border-neutral-200 dark:border-neutral-800">

    <template x-for="url in urls" :key="url.href">
      <li class="flex items-center gap-1">
        <a 
        :href="url.href"
        x-init="url.isActive = location.pathname === url.href"
        :class="{'bg-neutral-100 dark:bg-neutral-800 font-medium': url.isActive}"
        class="capitalize w-full rounded px-2 py-1 cursor-pointer duration-150 hover:underline flex items-center gap-1">
          <span x-text="url.text"></span>
        </a>
      </li>
    </template>

  </ul>

</div>