{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'cities'|title %}{% endblock %}


{% block body %}

<span
class="hidden"
x-init="breadCrumbs.push({
    text: '{% translate 'cities' %}', 
    href: '{% url 'cities:index' %}'
})"></span>

<c-layout.app-container id="cities-table" app_title="{% translate 'cities' %}">

    <c-slot name="filters">
        {% include 'partials/filters/base.html' %}
    </c-slot>
    
    <c-slot name="table">
        {% include 'apps/cities/partials/index/table.html' %}
    </c-slot>

</c-layout.app-container>

{% endblock %}
