{% if data_check == 'all' %}
<input
  @change="handleChange"
  id="check-all"
  class="check"
  type="checkbox"
/>
<script>
  function handleChange(e) {
    let isChecked = e.target.checked;
    let rowsChecks = document.querySelectorAll(`input[data-check]`);
    let form = document.querySelector('[x-data="{ selectedRows: [] }"]')
    rowsChecks.forEach(el => {
      el.checked = isChecked;
      let id = el.getAttribute('id');
      if (isChecked) Alpine.$data(form).selectedRows.push(id);
    });
    Alpine.$data(form).selectedRows = [...new Set(Alpine.$data(form).selectedRows)]
    if (!isChecked) Alpine.$data(form).selectedRows = [];
  }
</script>
{% else %}
<td class="p-2">
  <input
    type="checkbox"
    class="check"
    name="obj-{{ obj.id }}-selected"
    data-check
    id="{{ obj.id }}"
    @change="
      let targetId = $event.target.getAttribute('id');
      let criteria = selectedRows.filter(el => el === targetId).length;
      if (criteria) {
          selectedRows = selectedRows.filter(el => el !== targetId);
      } else {
          selectedRows.push(targetId);
      }"
  />
</td>
{% endif %}
