{% if data_check == 'all' %}
<input
  @change="handleCheckBoxSelect"
  id="check-all"
  class="check"
  type="checkbox"
/>
{% else %}
<td class="p-2">
  <div class="flex items-center">
    <input
    type="checkbox"
    class="check"
    name="obj-{{ obj.id }}-selected"
    data-check
    id="{{ obj.id }}"
    @change="
      let targetId = $event.target.getAttribute('id');
      let criteria = selectedRows.filter(el => el === targetId).length;
      if (criteria) {
          selectedRows = selectedRows.filter(el => el !== targetId);
      } else {
          selectedRows.push(targetId);
      }"
  />
  </div>
</td>
{% endif %}
