{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div 
dir="ltr" 
hx-include="[data-include]"
class="flex max-md:flex-col items-center justify-between gap-2 ~px-2/4 ~my-2/4">

    <div class="flex items-center justify-between">
      {% if page_obj.has_previous %}
      <c-btns.icon
        hx-get="{{ url }}?page=1"
        hx-target="{{ target }}"
        hx-headers='{"partial": true}'
        hx-push-url="true"
        hx-replace-url="true"
        title="{% translate 'first page'|title %}"
      >
        <c-icons.arrow-double-left ratio="1.25rem"></c-icons.arrow-double-left>
      </c-btns.icon>
      {% else %}
      <span class="text-xl p-1 opacity-45">
        <c-icons.arrow-double-left ratio="1.25rem"></c-icons.arrow-double-left>
      </span>
      {% endif %} 
      
      {% if page_obj.has_previous %}
      <c-btns.icon
        hx-get="{{ url }}?page={{ page_obj.previous_page_number }}"
        hx-target="{{ target }}"
        hx-headers='{"partial": true}'
        hx-push-url="true"
        hx-replace-url="true"
        title="{% translate 'previous page'|title %}"
      >
        <c-icons.arrow-left ratio="1.25rem"></c-icons.arrow-left>
      </c-btns.icon>
      {% else %}
      <span class="text-xl p-1 opacity-45">
        <c-icons.arrow-left ratio="1.25rem"></c-icons.arrow-left>
      </span>
      {% endif %} 

      <!--  -->
      <div class="font-semibold mx-2 flex items-center gap-4">
        <div>
          <span>{{ page_obj.number }}</span>
          <span>/</span>
          <span>{{ page_obj.paginator.num_pages }}</span>
        </div>
      </div>
      <!--  -->
      
      {% if page_obj.has_next %}
      <c-btns.icon
        hx-get="{{ url }}?page={{ page_obj.next_page_number }}"
        hx-target="{{ target }}"
        hx-headers='{"partial": true}'
        hx-push-url="true"
        hx-replace-url="true"
        title="{% translate 'next page'|title %}"
      >
        <c-icons.arrow-right ratio="1.25rem"></c-icons.arrow-right>
      </c-btns.icon>
      {% else %}
      <span class="text-xl p-1 opacity-45">
        <c-icons.arrow-right ratio="1.25rem"></c-icons.arrow-right>
      </span>
      {% endif %} 
      {% if page_obj.has_next %}
      <c-btns.icon
        hx-get="{{ url }}?page={{ page_obj.paginator.num_pages }}"
        hx-target="{{ target }}"
        hx-headers='{"partial": true}'
        hx-push-url="true"
        hx-replace-url="true"
        title="{% translate 'last page'|title %}"
      >
        <c-icons.arrow-double-right ratio="1.25rem"></c-icons.arrow-double-right>
      </c-btns.icon>
      {% else %}
      <span class="p-1 opacity-45">
        <c-icons.arrow-double-right ratio="1.25rem"></c-icons.arrow-double-right>
      </span>
      {% endif %}
    </div>

    <div 
    class="flex items-center gap-1 justify-center"
    hx-include="#no-content"
    >
      {{ pagination_form }}
      <span class="lg:hidden">
        <c-btns.icon 
        @click="showFilters = !showFilters"
        id="page-filter-show"
        title="{% translate 'show filters'|title %}">
          <c-icons.filters ratio="1.25rem" />
        </c-btns.icon>
      </span>
      <c-btns.icon 
      hx-get="{{ url }}"
      hx-target="body"
      hx-replace-url="true"
      type="reset"
      id="page-reset-btn"
      title="{% translate 'reset'|title %}">
        <c-icons.reset ratio="1.25rem" />
      </c-btns.icon>
      {{ slot }}
      <!--  -->
    </div>

    <div class="flex items-center justify-center gap-1 text-neutral-600 dark:text-neutral-400"
    dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">

      <span>{{ page_obj.start_index }}</span>
      <span>-</span>
      <span>{{ page_obj.end_index }}</span>
      <span>{% translate 'of' %}</span>
      <span>{{ page_obj.paginator.count }}</span>
      <span>{% translate 'record' %}</span>

    </div>

</div>