<div {{ attrs }} 
class="
relative grid grid-cols-{{ cols }} items-center gap-1 px-16 duration-150
{% if header %}
font-semibold capitalize py-1 border-b border-t border-gray-200 dark:border-gray-800
{% else %}
py-2 
odd:bg-gray-100/60 dark:odd:bg-gray-800/30
hover:bg-gray-100/80 dark:hover:bg-gray-800
[&:has(input[type='checkbox']:checked)]:bg-blue-100
[&:has(input[type='checkbox']:checked)]:dark:bg-blue-900
[&:has(input[type='checkbox']:checked)]:border-blue-200
[&:has(input[type='checkbox']:checked)]:dark:border-blue-950
[&:has(input[type='checkbox']:checked)]:hover:bg-blue-200
[&:has(input[type='checkbox']:checked)]:dark:hover:bg-blue-950
{% endif %}" >

    {% if header %}
        <input
        data-include
        type="hidden"
        name="order"
        value="{% firstof request.GET.order default_column %}"/>
    {% endif %}

    {{ slot }}

</div>
