{% load i18n %}

<tr 
x-transition.duration.150 
x-cloak 
x-show="selectedRows.length">
  <td class="font-light bg-white dark:bg-neutral-900 ~top-6/10 sticky text-start p-2 space-x-[2px] z-50" {{ attrs }} >

    <span class="font-semibold" x-text="selectedRows.length"></span>

    <span>{% translate 'selected objects:' %}</span>

    <!-- start unselect all -->
    <span
      class="hover:underline"
      role="button"
      @click="handleClick"
      >{% translate 'unselect all'|title %}</span
    >
    <!-- end unselect all -->
    {{ slot }}
  </td>
</tr>

<script>
  function handleClick() {
    const selector = `[data-check]`
    const form = document.querySelector(
      'form[x-data="{ selectedRows: [] }"]'
    );
    document
        .querySelectorAll(selector)
        .forEach(el => el.checked = false);
    Alpine.$data(form).selectedRows = [];
    document.getElementById('check-all').checked = false;
  }
</script>