{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'nationalities'|title %}{% endblock %}

{% block body %}

<span
class="hidden"
x-init="breadCrumbs.push({
    text: '{% translate 'nationalities' %}', 
    href: '{% url 'nationalities:index' %}'
})"></span>


<c-layout.app-container id="nationalities-table" app_title="{% translate 'nationalities' %}">

    <c-slot name="filters">
        {% include 'partials/filters/base.html' %}
    </c-slot>
    
    <c-slot name="table">
        {% include 'apps/nationalities/partials/index/table.html' %}
    </c-slot>
    
</c-layout.app-container>

{% endblock %}
