{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ instance.name }}{% endblock %}

{% block body %}

    <template 
    x-init="let hrefs = [
        {
            text: '{% translate 'nationalities' %}', 
            href: '{% url 'nationalities:index' %}'
        },
        {
            text: '{{ instance.name }}', 
            href: '{% url 'nationalities:create' %}'
        },
    ];
    breadCrumbs = [...breadCrumbs, ...hrefs]"
    ></template>

    {% include 'partials/update-form.html' %}

{% endblock %}