{% load i18n static format_numbers %}

<c-table.outer-container>
  <form hx-get="{{ bulk_path }}" x-data="{ selectedRows: [] }">

    <div class="m-2 flex flex-wrap items-center justify-end gap-2">
      <c-table.sort-by />
      <c-table.bulk-actions>
        {% if can_delete %}
        <c-table.bulk-action
          name="bulk_delete"
          value="{% translate 'delete' %}"
        />
        {% endif %}
      </c-table.bulk-actions>
    </div>

    <c-table.container>
      <c-table.table>
        <c-table.thead>
          <c-table.th>
            {% if can_delete %}
            <c-table.check data_check="all" />
            {% endif %}
          </c-table.th>
          <c-table.th name="{% translate 'id' %}" />
          <c-table.th name="{% translate 'fullname' %}" />
          <c-table.th name="{% translate 'groups' %}" />
          <c-table.th name="{% translate 'department' %}" />
          <c-table.th name="{% translate 'salary' %}" />
          <c-table.th />
        </c-table.thead>
        <c-table.tbody>
          {% for obj in qs %}
          <c-table.tr>
            <c-table.check />

            <c-table.td data-header="{% translate 'id' %}">
              {{ obj.pk }}
            </c-table.td>
            {% if can_update %}
            <c-table.td
              @click="setQueryString"
              href="{{ obj.get_absolute_path }}"
              data-header="{% translate 'fullname' %}"
            >
              {{ obj.fullname }}
            </c-table.td>
            {% else %}
            <c-table.td data-header="{% translate 'fullname' %}">
              {{ obj.fullname }}
            </c-table.td>
            {% endif %}
            <c-table.td data-header="{% translate 'groups' %}">
              {% for group in obj.groups.all %}
                <span>{{ group }}</span>
                {% if not forloop.last %}
                <span>{% translate ', ' %}</span>
                {% endif %} 
              {% endfor %}
            </c-table.td>
            <c-table.td data-header="{% translate 'department' %}">
              {{ obj.department }}
            </c-table.td>
            <c-table.td data-header="{% translate 'salary' %}">
              {{ obj.salary|money }} {{ obj.currency_short }}
            </c-table.td>
            <c-table.td fixed>
              <c-context.context>
                {% include 'partials/context/base.html' %}
              </c-context.context>
            </c-table.td>
          </c-table.tr>
          {% empty %}
          <c-table.tr empty colspan="3" />
          {% endfor %}
        </c-table.tbody>
      </c-table.table>
    </c-table.container>
  </form>
  {% include 'partials/pagination/base.html' %}
</c-table.outer-container>
