{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'add new degree'|title %}{% endblock %}

{% block body %}

    <template 
    x-init="let hrefs = [
        {
            text: '{% translate 'educational degrees' %}', 
            href: '{% url 'educational_degrees:index' %}'
        },
        {
            text: '{% translate 'add new' %}', 
            href: '{% url 'educational_degrees:create' %}'
        },
    ];
    breadCrumbs = [...breadCrumbs, ...hrefs]"
    ></template>

    <c-base.create-form/>

{% endblock %}