{% load i18n %}

<div 
  x-data="{
    exportPath: '{{ export_path }}',
    bulkPath: '{{ bulk_path }}',
    createPath: '{{ create_path }}',
    bulkActions: [
      {'name': '{% translate 'delete' %}', 'btnName': 'bulk_delete'},
      {'name': '{% translate 'reslugify' %}', 'btnName': 'bulk_reslugify'},
    ],
    objects: [
      {% for obj in qs %}
        {
            data: {
                pk: {
                  name: '{% translate 'id' %}', 
                  codeName: 'id',
                  value: '{{ obj.pk }}',
                },
                name: {
                  name: '{% translate 'name' %}', 
                  codeName: 'name',
                  value: '{{ obj.name }}',
                  link: '{{ obj.get_update_path }}'
                },
                description: {
                  name: '{% translate 'description' %}', 
                  codeName: 'description',
                  value: '{{ obj.description }}',
                },
                hasSalary: {
                  name: '{% translate 'has a salary' %}', 
                  codeName: 'has_salary', 
                  value: '{{ obj.has_salary }}' === 'True' ? '{% translate 'has salary' %}' : '{% translate 'has no salary' %}',
                }
            },
            get contextActions() {
              return [
                {
                  name: '{% translate 'delete' %}', 
                  isButton: true,
                  attrs: [
                    {'hx-get': '{{ obj.get_delete_path }}'},
                    {'hx-vals': `js:{page: '{{ page_obj.number }}'}`},
                    {'hx-target': '#modal'},
                    {'x-on:click': 'modalOpen = true'},
                  ]
                },
                {
                  name: '{% translate 'update' %}', 
                  isButton: false,
                  attrs: [
                    {'href': '{{ obj.get_update_path }}'}
                  ]
                },
                {
                  name: '{% translate 'activity' %}', 
                  isButton: true,
                  attrs: [
                    {'hx-get': '{{ obj.get_activity_path }}'},
                    {'hx-vals': `js:{page: '{{ page_obj.number }}'}`},
                    {'hx-target': '#modal'},
                    {'x-on:click': 'modalOpen = true'},
                  ]
                },
              ]
            },
          },
      {% endfor %}
    ],
    headers: [],
    headersNames: [],
    datalistData: {},
    checkAll: false,
    selectedObjects: 0,
    selectedColumns: 0,
    headerRowClass: 'sticky top-0 z-20 left-0 bg-white dark:bg-neutral-800/60 border-b border-neutral-300 dark:backdrop-blur-sm dark:border-none first-letter:capitalize font-semibold tracking-tight ~p-1/2',
    setSelectedObjects() {
      this.selectedObjects = this.objects.filter(e => e.selected).length;
    },
    handleCheckAll() {
      this.objects = this.objects.map(e => {
        e.selected = e.show ? !this.checkAll : e.selected;
        return e;
      });
      this.checkAll = !this.checkAll
    },
    handleInputChange(keywords, header) {
      this.objects.map(e => {
        e.show = false;
        if (String(e.data[header].value).includes(keywords)) {
          e.show = true;
        }
        return e;
      })
    },
    generateHeadersNames() {
      this.headersNames = this.headers.filter(e => e.at(-1)).map(e => e[0]);
    },
    generateSelectedColumns() {
      this.selectedColumns = this.headers.filter(e => e.at(-1)).map(e => e[0]).length;
    },
    generateDatalistData() {
      this.headersNames.map(header => {
          let data = this.objects.map(obj => obj.data[header].value);
          this.datalistData[header] = [...new Set(data)];
      });
    },
    setContextAttributes(element, attrs) {
      attrs.forEach(e => {
        let [key, value] = Object.entries(e)[0];
        if (key.startsWith('x-on')) {
            let event = key.split(':').at(-1);
            element.addEventListener(event, () => eval(value));
        } else {
            element.setAttribute(key, value);
        }
      })
    },
    init() {
      this.objects = this.objects.map(e => {
        e.show = true;
        e.selected = false;
        return e;
      });
      let firstObject = this.objects.length && this.objects[0]?.data;
      this.headers = Object.entries(firstObject).map(e => {
        e = [...e, true];
        return e;
      });
      this.generateHeadersNames();
      this.generateDatalistData();
      this.generateSelectedColumns();
      this.setSelectedObjects();
      $watch('objects', () => this.setSelectedObjects());
      $watch('headers', () => {
        this.generateHeadersNames();
        this.generateSelectedColumns();
      });
    }
  }"
  class="hx-swap:opacity-20 hx-swap:cursor-no-drop hx-settle:opacity-20 hx-settle:cursor-no-drop"
>
  <form hx-get="{{ bulk_path }}">

    <div class="m-2 flex items-center justify-end gap-2 flex-wrap">
      <c-inputs.sort-by />
      <div 
        class="w-fit relative" 
        x-init="canOpen = Boolean(headers.length)"
        x-data="{
          canOpen: true,
          dropdownOpen: false, 
       }">

        <span
          @click="dropdownOpen = canOpen"
          :class="{'!border-blue-500 !outline-none': dropdownOpen}"
          class="flex items-center justify-center gap-2 rounded-md border border-neutral-200 dark:border-neutral-800 py-2 px-4 text-sm font-medium transition-colors focus:outline-none  disabled:pointer-events-none disabled:opacity-50"
          role="button"
        >
          <span 
          x-text="selectedColumns ?  selectedColumns + '{% translate ' selected' %}' : '{% translate 'columns' %}'" 
          class="translate-y-px leading-none capitalize"></span>
          <span>
            <c-icons.columns ratio="1rem" />
          </span>
        </span>

        <div
          x-show="dropdownOpen"
          @click.away="dropdownOpen=false"
          x-transition:enter="ease-out duration-200"
          x-transition:enter-start="-translate-y-2"
          x-transition:enter-end="translate-y-0"
          class="absolute top-0 z-50 mt-8 end-2 min-w-56"
          x-cloak
        >
          <div
            class="mt-1 rounded-md bg-white dark:bg-neutral-800 border border-neutral-200 dark:border-neutral-800  p-1 shadow-md"
          >
            <template x-for="(header, idx) in headers" :key="header[0]">
              <div
              class="relative flex select-none gap-2 items-center rounded px-2 py-1.5 text-sm outline-none transition-colors hover:bg-neutral-100 dark:hover:bg-neutral-900 cursor-pointer"
              x-data="{ id: $id('select-column')}"
              >
                  <input 
                  :id="id"
                  type="checkbox" 
                  class="check" 
                  x-model="header[2]">
                  <label 
                  :for="id" 
                  x-text="header[1].name" 
                  class="first-letter:capitalize whitespace-nowrap block">
                  </label>
              </div>
            </template>
          </div>

        </div>
      </div>
      <div 
        class="w-fit relative" 
        x-show="selectedObjects"
        x-transition:enter="ease-out duration-200"
        x-transition:enter-start="opacity-0 duration-300"
        x-transition:enter-end="opacity-100 duration-300"
        x-init="canOpen = Boolean(headers.length)"
        x-data="{
          canOpen: true,
          dropdownOpen: false, 
        }">

        <span
          @click="dropdownOpen = canOpen"
          :class="{'!border-blue-500 !outline-none': dropdownOpen}"
          class="flex items-center justify-center gap-2 rounded-md border border-neutral-200 dark:border-neutral-800 py-2 px-4 text-sm font-medium transition-colors focus:outline-none  disabled:pointer-events-none disabled:opacity-50"
          role="button"
        >
          <span 
          x-text="selectedObjects + ' {% translate ' selected' %}'"
          class="translate-y-px leading-none capitalize">
          </span>
          <span>
            <c-icons.check ratio="1rem" />
          </span>
        </span>

        <div
          x-show="dropdownOpen"
          @click.away="dropdownOpen=false"
          x-transition:enter="ease-out duration-200"
          x-transition:enter-start="-translate-y-2"
          x-transition:enter-end="translate-y-0"
          class="absolute top-0 z-50 mt-8 end-2 min-w-56"
          x-cloak
        >
          <ul
            class="mt-1 rounded-md bg-white dark:bg-neutral-800 border border-neutral-200 dark:border-neutral-800 p-1 shadow-md"
          >
            <template x-for="action in bulkActions" :key="action.btnName">
              <li>
                <input 
                type="submit" 
                :name="action.btnName" 
                :value="action.name" 
                @click="modalOpen = true"
                class="w-full text-start capitalize relative flex select-none gap-2 items-center rounded px-2 py-1.5 text-sm outline-none transition-colors hover:bg-neutral-100 dark:hover:bg-neutral-900 cursor-pointer" 
                >
              </li>
            </template>
          </ul>

        </div>
      </div>
    </div>

    <div 
    class="overflow-x-auto overflow-y-auto max-h-[50vh] md:max-h-[60vh] lg:max-h-[66vh] scrollbar-thin overflow-hidden m-2 border border-neutral-200 dark:border-neutral-800 rounded-md">

      <table class="table-auto relative w-full ~text-xs/sm border-separate rounded-md border-spacing-0">
        <tr class="max-md:hidden p-2">
          <th colspan="2" :class="headerRowClass">
            <input 
            @change="handleCheckAll()" 
            type="checkbox" 
            class="block mx-auto check" 
            id="checkAll">
          </th>
          <template x-for="header in headers" :key="header.at(1).name">
            <th 
            :class="headerRowClass"
            :title="header.at(1)?.codeName"
            x-show="header.at(-1)">
              <span x-text="header.at(1).name"></span>
              <input 
              autocomplete="on"
              @search="handleInputChange($el.value, header.at(0))"
              @change="handleInputChange($el.value, header.at(0))"
              class="input w-full font-normal text-sm my-1"
              type="search" 
              :list="header.at(0) + '-list'"
              :id="header[0]">
              <datalist :id="header.at(0) + '-list'">
                <template x-for="datalist in datalistData[header.at(0)]">
                  <option :value="datalist"></option>
                </template>
              </datalist>
            </th>
          </template>
          <th :class="headerRowClass"></th>
        </tr>
        <template x-for="(obj, idx) in objects" :key="obj.data.name.value">
          <tr 
          class="tr"
          x-show="obj.show" 
          x-transition:enter="opacity-50"
          x-transition:leave="opacity-50"
          x-data="{
            objectHeaders: Object.entries(obj.data).map(e => e[0]),
            checkId: $id('check-input'),
          }">
            <td class="p-1">
              <input 
              type="checkbox" 
              class="block mx-auto check" 
              :name="obj.data.pk.value + '-selected'"
              x-model="obj.selected" 
              :id="checkId">
            </td>
            <td class="p-1 font-semibold" x-text="idx + 1"></td>
            <template x-for="h in objectHeaders" :key="h">
                <td 
                class="max-md:grid max-md:grid-cols-3 max-md:gap-2 max-md:items-center max-md:px-2 max-md:py-1 max-md:before:content-[attr(data-header)] max-md:before:font-medium max-md:before:capitalize p-1"
                :data-header="obj.data[h].name"
                x-show="headersNames.includes(h)" 
                x-transition:enter="opacity-50"
                x-transition:leave="opacity-50"
                x-html="obj.data[h].link 
                ? `<a :href='obj.data[h].link' class='hover:underline' x-text='obj.data[h].value'></a>` 
                : `<span :href='obj.data[h].link' x-text='obj.data[h].value'></span>`"></td>
            </template>
            <td class="p-1">
              <div
                data-container
                class="relative inline-block"
                @click.outside="openContext = false"
                @scroll.window="openContext = false"
                x-data="{openContext: false}"
              >
                <c-btns.icon
                  @click="openContext = true; setOffsetContextMenu($event)"
                  role="button"
                  :class="openContext && '!bg-neutral-300 dark:!bg-neutral-700'"
                >
                  <div class="size-4 flex items-center justify-center">
                    <c-icons.ellipsis ratio="1rem" />
                  </div>
                </c-btns.icon>

                <ul
                  role="menu" x-cloak class="contextmenu" x-show="openContext"
                  x-transition:enter="transition ease-linear duration-100"
                  x-transition:enter-start="-translate-y-1 opacity-90"
                  x-transition:enter-end="translate-y-0 opacity-100">
                    <template x-for="action in obj.contextActions" :key="action.name">
                      <li>
                        <template x-if="action.isButton">
                          <span 
                          role="button" 
                          class="capitalize block dark:hover:bg-neutral-900 hover:bg-neutral-100 rounded duration-100 px-2 py-1 text-start" 
                          x-text="action.name"
                          x-init="setContextAttributes($el, action.attrs)">
                          </span>
                        </template>
                        <template x-if="!action.isButton">
                          <a 
                          class="capitalize block dark:hover:bg-neutral-900 hover:bg-neutral-100 rounded duration-100 px-2 py-1 text-start" 
                          x-text="action.name"
                          x-init="setContextAttributes($el, action.attrs)">
                          </a>
                        </template>
                      </li>
                    </template>
                </ul>
              </div>
            </td>
          </tr>
        </template>
      </table>

    </div>

  </form>

  <c-table.pagination url="{{ index_path }}" target="{{ target }}">

    {% if can_export %}
    <c-btns.icon
      hx-post="{{ export_path }}"
      hx-target="#modal"
      @click="modalOpen = true"
      title="{% translate 'export'|title %}"
      hx-include="[data-include]"
    >
      <c-icons.download ratio="1.5rem"></c-icons.download>
    </c-btns.icon>
    {% endif %} 
    
    {% if can_create %}
    <c-btns.icon
      datatype="href"
      title="{% translate 'add new record'|title %}"
      href="{{ create_path }}"
    >
      <c-icons.plus ratio="1.25rem"></c-icons.plus>
    </c-btns.icon>
    {% endif %}
  
  </c-table.pagination>
  
</div>