{% load i18n %}

<div
  data-combo
  x-effect="
  textsConcat = options.filter(el => el.selected).map(el => el.label).join(', ')"
  x-init="
    let forId = $el.previousElementSibling.getAttribute('for');
    $refs.comboBoxSearch.setAttribute('id', forId);
    let initials = location.href.match(new RegExp(`(?<=${name}\=)\d+`))
    initials = initials && initials.map(e => +e);
    if (initials) {
      options = options.map(e => {
        e.selected = initials.includes(e.value);
        return e;
      })
    };
  "
  class="relative w-full"
  x-data="{ 
    open: false,
    checkAll: false,
    name: $refs.comboBoxSearch.dataset.name,
    optionsConcat: '',
    textsConcat: '',
    keywords: '',
    options: [
      {% for group_name, group_choices, group_index in widget.optgroups %}
        {% for option in group_choices %}
          {
            name: '{{ option.name }}',
            value: '{{ option.value }}',
            label: '{{ option.label }}',
            selected: '{{ option.selected }}' === 'True',
            index: '{{ option.index }}',
            type: '{{ option.type }}',
            wrap_label: '{{ option.wrap_label }}',
            checked: '{{ option.attrs.checked }}' === 'True',
            show: true,
          },
        {% endfor %}
      {% endfor %}
    ]
  }">

  <a 
  href="#"
  role="button"
  :title="textsConcat"
  @keypress.space="open = !open; options.sort((a, b) => b.selected - a.selected)"
  @keypress.space.debounce.200="$refs.comboBoxSearch.focus()"
  @click="open = !open; options.sort((a, b) => b.selected - a.selected)" 
  @click.debounce.200="$refs.comboBoxSearch.focus()" 
  :class="{'!border-blue-500 !outline-none': open}"
  class="input ~@md/lg:~py-1/2 ~@md/lg:~px-2/4 ~@md/lg:~text-sm/base w-full !flex items-center justify-between">

    <span
      class="capitalize text-neutral-500 whitespace-nowrap truncate"
      x-text="
      options.filter(e => e.selected).length ? `${options.filter(e => e.selected).length} {% translate 'selected' %}` : `{% translate 'select' %} ${name}`;
      "
    ></span>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1rem"
      height="1rem"
      viewBox="0 0 16 16"
    >
      <rect width="16" height="16" fill="none" />
      <path
        fill="currentColor"
        fill-rule="evenodd"
        d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06"
        clip-rule="evenodd"
      />
    </svg>

  </a>

  <div
    role="menu"
    x-show="open"
    @click.outside="
    open = false; 
    keywords = '';
    options = options.map(e => {
      e.show = true;
      return e
    })
    options.sort((a, b) => b.selected - a.selected);"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter="ease-out duration-200"
    x-transition:enter-start="-translate-y-2"
    x-transition:enter-end="translate-y-0"
    class="origin-top w-full bg-white custom-shadow dark:shadow-none dark:bg-neutral-800 absolute top-[calc(100%_+_.5rem)] z-50 left-0 rounded-lg border border-neutral-200 dark:border-neutral-800 overflow-hidden"
    x-cloak
  >
    <div x-show="options.length">
      <input
        class="w-full border-none border-b border-neutral-200 bg-neutral-50 py-2.5 px-4 text-sm text-neutral-600 focus:outline-none focus-visible:border-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-800 dark:bg-neutral-800 dark:text-neutral-300 dark:focus-visible:border-blue-500"
        type="search"
        x-ref="comboBoxSearch"
        @search="searchHandler"
        @keyup="searchHandler"
        @keyup.Escape="
        open = false; 
        keywords = '';
        options = options.map(e => {
          e.show = true;
          return e
        })
        options.sort((a, b) => b.selected - a.selected);"
        x-model="keywords"
        placeholder="{% translate 'search'|title %} ..."
        {% for name, value in widget.attrs.items %}
        {% if value is not False %}
        {{ name }}
        {% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}
        {% endif %}
        {% endfor %}
      />

      <ul class="text-sm max-h-32 overflow-y-auto scrollbar p-1">
        <li
          class="~px-2/4 ~py-1/2 rounded flex items-center gap-2 hover:dark:bg-neutral-900 hover:bg-neutral-200"
        >
          <input 
          @change="
          checkAll = !checkAll;
          options = options.map(e => {
            e.selected = e.show && checkAll;
            return e;
          })
          "
          id="check-all-options" type="checkbox" class="check"/>
          <label
            for="check-all-options"
            class="w-full block first-letter:capitalize text-xs"
          >{% translate 'select all' %}</label>
        </li>
        <template x-for="option in options" :key="option.value">
          <li
            class="~px-2/4 ~py-1/2 rounded flex items-center gap-2 hover:dark:bg-neutral-900 hover:bg-neutral-200"
            x-show="option.show"
          >
            <input
              :id="option.name + '-' + option.value"
              :checked="option.selected"
              :value="option.value"
              :name="option.name"
              x-model="option.selected"
              type="checkbox"
              class="check"
            />
            <label
              :for="option.name + '-' + option.value"
              x-text="option.label"
              class="w-full block first-letter:capitalize text-xs"
            ></label>
          </li>
        </template>
      </ul>
    </div>

    <div class="w-full ~p-2/4" x-show="!options.length">{% translate 'no options' %}</div>
  </div>
</div>

<script>

  function searchHandler(el) {
    const container = el.target.closest("div[data-combo]");
    const keywords = Alpine.$data(container).keywords;

    Alpine.$data(container).options = Alpine.$data(container).options.map((e) => {
      e.show = false;
      let searchName = e.label + ' ' + e.label;
      let pattern = new RegExp(keywords.split(' ').join('.+'), 'g');
      if (searchName.match(pattern)) {
        e.show = true
      }
      return e
    });
  }

</script>
