{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'add new employee'|title %}{% endblock %}

{% block body %}

    <template 
    x-init="let hrefs = [
        {
            text: '{% translate 'employee' %}', 
            href: '{% url 'employees:index' %}'
        },
        {
            text: '{% translate 'add new' %}', 
            href: '{% url 'employees:create' %}'
        },
    ];
    breadCrumbs = [...breadCrumbs, ...hrefs]"
    ></template>

    {% include 'apps/employees/partials/forms/create.html' %}

{% endblock %}