{% extends 'base.html' %} 
{% load i18n static tree_filters %} 

{% block title %}
{{ object.fullname}}
{% endblock %} 

{% block body %}

<template
  x-init="let hrefs = [
        {
            text: '{% translate 'employees' %}', 
            href: '{% url 'employees:index' %}'
        },
        {
            text: '{{ object.fullname }}', 
            href: '{{ object.get_absolute_path }}'
        },
    ];
    breadCrumbs = [...breadCrumbs, ...hrefs]
    if (breadCrumbs.length > 2 && sessionStorage.getItem('query')) {
      breadCrumbs.at(1).href += sessionStorage.getItem('query')
    }
    "
></template>

<div class="col-span-3 rounded-lg overflow-hidden border border-neutral-200 dark:border-neutral-800">

  <div>
    <img src="{% static 'images/cover.jpg' %}" class="block max-h-48 object-cover w-full" alt="">
  </div>

  <div class="grid grid-cols-3 ~gap-2/4 lg:grid-cols-4 p-4">

    <div>
      <a href="{% if object.profile %}{{ object.profile.url }}{% else %}{% static 'images/user.png' %}{% endif %}" target="_blank">
        <img src="{% if object.profile %}{{ object.profile.url }}{% else %}{% static 'images/user.png' %}{% endif %}" class=" object-cover aspect-square rounded-full block ring-4 lg:ring-8 ring-white dark:ring-neutral-950 w-full -translate-y-1/2 relative ~max-w-32/48 mx-auto" alt="">
      </a>
    </div>

    <div class="col-span-2 lg:col-span-3 tracking-tighter font-medium ~space-y-2/4">
      <div class="flex items-center gap-2">
        <p class="~text-xl/3xl">{{ object.fullname }}</p>
        <c-layout.badge theme="{% if object.status.has_salary %}green{% else %}red{% endif %}">
          {{ object.status }}
        </c-layout.badge>
        {% if perms.employees.update_employee %}
        <div class="ltr:ml-auto rtl:mr-auto">
          <c-btns.icon>
            <a href="{{ object.get_update_path }}">
              <c-icons.pencil ratio="1.25rem" />
            </a>
          </c-btns.icon>
        </div>
        {% endif %}
      </div>
      <div 
      title="{{ object.hire_date }}"
      class="flex items-center gap-1">
        <c-icons.calendar ratio="1rem" />
        <span>{% translate 'since'|title %}</span>
        <p>
          {{ object.hire_date|timesince }}
        </p>
      </div>
      <div class="flex items-center gap-1">
        <c-icons.education ratio="1rem" />
        <p>
          <span>{{ object.education_degree }}</span>
          <span>{% translate 'in' %}</span>
          <span>{{ object.specialization }}</span>
        </p>
      </div>
      <ul class="text-neutral-500 flex items-center flex-wrap gap-1">
        {% for group in object.groups.all %}
          <li>
            <a target="_blank" class="hover:underline rounded text-xs bg-blue-500 text-white px-2 py-1" href="{{ group.get_absolute_path }}">
              {{ group }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <ul class="text-neutral-500 flex items-center flex-wrap gap-1">
        {% comment %}
        {% for department in object|ancestors %}
          <li>
            <div class="flex items-center gap-1">
              {{ department }}
              {% if not forloop.last %}
              <span class="ltr:rotate-180">
                <c-icons.arrow-left ratio="1rem" />
              </span>
              {% endif %}
            </div>
          </li>
        {% endfor %}
        {% endcomment %}
      </ul>
      <div class="flex items-center ~gap-1/2 flex-wrap">
        <!-- <c-layout.tag>{{ object.position }}</c-layout.tag> -->
        <!-- <c-layout.tag>{{ object.job_subtype }}</c-layout.tag> -->
        <!-- <c-layout.tag>{{ object.job_subtype.job_type }}</c-layout.tag> -->
      </div>

    </div>

  </div>

</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-1">

  <c-tabs.container count="5">

    <c-slot name="buttons">
      <c-tabs.btn>
        {% translate 'front' %}
      </c-tabs.btn>
      <c-tabs.btn>
        {% translate 'back' %}
      </c-tabs.btn>
      <c-tabs.btn>
        {% translate 'other' %}
      </c-tabs.btn>
      <c-tabs.btn>
        {% translate 'contact' %}
      </c-tabs.btn>
      <c-tabs.btn>
        {% translate 'notes' %}
      </c-tabs.btn>
    </c-slot>
  
    <c-slot name="contents">
      <c-tabs.tab>
        {% include 'apps/employees/partials/details/first-tab.html' %}
      </c-tabs.tab>
      <c-tabs.tab>
        {% include 'apps/employees/partials/details/second-tab.html' %}
      </c-tabs.tab>
      <c-tabs.tab>
        {% include 'apps/employees/partials/details/third-tab.html' %}
      </c-tabs.tab>
      <c-tabs.tab>
        {% include 'apps/employees/partials/details/fourth-tab.html' %}
      </c-tabs.tab>
      <c-tabs.tab>
        <p class="first-letter:capitalize">
          {% if object.notes %}
            {{ object.notes }}
          {% else %}
            {% translate 'no notes' %}
          {% endif %}
        </p>
      </c-tabs.tab>
    </c-slot>
  
  </c-tabs.container>

</div>

{% endblock %}
