{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'employees'|title %}{% endblock %}


{% block body %}

    <c-layout.app-container id="employees-table" app_title="{% translate 'employees' %}">

        <c-slot name="filters">
          {% include 'apps/employees/partials/index/filters.html' %}
        </c-slot>
      
        <c-slot name="table">
          {% include 'apps/employees/partials/index/table.html' %}
        </c-slot>
      
    </c-layout.app-container>

{% endblock %}
