{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ instance.fullname }}{% endblock %}

{% block body %}

    <template 
    x-init="let hrefs = [
        {
            text: '{% translate 'employees' %}', 
            href: '{% url 'employees:index' %}'
        },
        {
            text: '{{ instance.name }}', 
            href: '{{ instance.get_update_path }}'
        },
    ];
    breadCrumbs = [...breadCrumbs, ...hrefs]"
    ></template>

    {% include 'apps/employees/partials/forms/update.html' %}

{% endblock %}